@{
    ViewBag.Title = "Ammehoela";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Ammehoela
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("ZOLarium", "Index", "ZOLarium")
                </li>
                <li class="active">Ammehoela</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img data-original="/Images/ZOLarium/d47 Ammehoela/0001.jpg" width="2000" height="2600" alt="Ammehoela artikel" class="img-responsive lazy" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img data-original="/Images/ZOLarium/d47 Ammehoela/0002.jpg" width="2000" height="2600" alt="Ammehoela artikel" class="img-responsive lazy" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img data-original="/Images/ZOLarium/d47 Ammehoela/0003.jpg" width="2000" height="2600" alt="Ammehoela artikel" class="img-responsive lazy" />
        </div>
    </div>
</div>