@{
    ViewBag.Title = "Conrad Rontgen";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Conrad Rontgen
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("ZOLarium", "Index", "ZOLarium")
                </li>
                <li class="active">Conrad Rontgen</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img data-original="/Images/ZOLarium/e22 Conrad Rontgen/0001.jpg" width="2000" height="2600" alt="Conrad Rontgen artikel" class="img-responsive lazy" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img data-original="/Images/ZOLarium/e22 Conrad Rontgen/0002.jpg" width="2000" height="2600" alt="Conrad Rontgen artikel" class="img-responsive lazy" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img data-original="/Images/ZOLarium/e22 Conrad Rontgen/0003.jpg" width="2000" height="2600" alt="Conrad Rontgen artikel" class="img-responsive lazy" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img data-original="/Images/ZOLarium/e22 Conrad Rontgen/0004.jpg" width="2000" height="2600" alt="Conrad Rontgen artikel" class="img-responsive lazy" />
        </div>
    </div>
</div>