
@{
    ViewBag.Title = "Hale Berry";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Hale Berry
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("ZOLarium", "Index", "ZOLarium")
                </li>
                <li class="active">Hale Berry</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img data-original="/Images/ZOLarium/d46 Hale Berry/0001.jpg" width="2000" height="2600" alt="Hale Berry artikel" class="img-responsive lazy" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img data-original="/Images/ZOLarium/d46 Hale Berry/0002.jpg" width="2000" height="2600" alt="Hale Berry artikel" class="img-responsive lazy" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img data-original="/Images/ZOLarium/d46 Hale Berry/0003.jpg" width="2000" height="2600" alt="Hale Berry artikel" class="img-responsive lazy" />
        </div>
    </div>
</div>