@{
    ViewBag.Title = "John Harvey Kellog";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                John Harvey Kellog
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("ZOLarium", "Index", "ZOLarium")
                </li>
                <li class="active">John Harvey Kellog</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img data-original="/Images/ZOLarium/e48 John Harvey Kellog/0001.jpg" width="2000" height="2600" alt="John Harvey Kellog artikel" class="img-responsive lazy" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img data-original="/Images/ZOLarium/e48 John Harvey Kellog/0002.jpg" width="2000" height="2600" alt="John Harvey Kellog artikel" class="img-responsive lazy" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img data-original="/Images/ZOLarium/e48 John Harvey Kellog/0003.jpg" width="2000" height="2600" alt="John Harvey Kellog artikel" class="img-responsive lazy" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img data-original="/Images/ZOLarium/e48 John Harvey Kellog/0004.jpg" width="2000" height="2600" alt="John Harvey Kellog artikel" class="img-responsive lazy" />
        </div>
    </div>
</div>