@{
    ViewBag.Title = "Kurt Semm";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Kurt Semm
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("ZOLarium", "Index", "ZOLarium")
                </li>
                <li class="active">Kurt Semm</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
                <img data-original="/Images/ZOLarium/e45 Kurt Semm/0001.jpg" width="2000" height="2600" alt="Kurt Semm artikel" class="img-responsive lazy" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
                <img data-original="/Images/ZOLarium/e45 Kurt Semm/0002.jpg" width="2000" height="2600" alt="Kurt Semm artikel" class="img-responsive lazy" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
                <img data-original="/Images/ZOLarium/e45 Kurt Semm/0003.jpg" width="2000" height="2600" alt="Kurt Semm artikel" class="img-responsive lazy" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
                <img data-original="/Images/ZOLarium/e45 Kurt Semm/0004.jpg" width="2000" height="2600" alt="Kurt Semm artikel" class="img-responsive lazy" />
        </div>
    </div>
</div>