@{
    ViewBag.Title = "Trendy Latijn";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Trendy Latijn
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("ZOLarium", "Index", "ZOLarium")
                </li>
                <li class="active">Trendy Latijn</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img data-original="/Images/ZOLarium/d55 Trendy Latijn/0001.jpg" width="2000" height="2600" alt="Trendy Latijn artikel" class="img-responsive lazy" />
        </div>
    </div>
</div>