@{
    ViewBag.Title = "Wilhem His Bach";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Wilhem His Bach
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("ZOLarium", "Index", "ZOLarium")
                </li>
                <li class="active">Wilhem His Bach</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img data-original="/Images/ZOLarium/d32 Wilhem His Bach/0001.jpg" width="2000" height="2600" alt="Wilhem His Bach artikel" class="img-responsive lazy" />
        </div>
    </div>
</div>