@{
    ViewBag.Title = "Curator";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Curator
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Curator</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <h3>Rariteitenkabinet dr. Van Robays</h3>
            <p>
                Op de campus St. Jan van het Ziekenhuis Oost-Limburg (ZOL) heeft dr. Johan Van Robays een historische collectie zieke organen en aangeboren afwijkingen verzameld in een ‘medisch rariteitenkabinet’.
                De collectie is de vrucht van 35 jaar verzamelen en ontstond uit twee reflexen. Enerzijds een esthetisch. Veel weefselspecimens...
            </p>
            <a href="@Url.Action("Artikel", "Curator")" >LEES MEER</a>
            <h3>Het prille begin: Film VTM nieuws</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/1sBLFMSqf5Y" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-5">
            <img src="~/Images/Curator/curator.jpg" style="width:91%" alt="Foto museum" class="img-responsive" />
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
                <img data-original="/Images/Curator/AKCurator.png" alt="Artsenkrant Curator" class="img-responsive lazy" width="2000" height="2600" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <h3>Catalogus Orgaan Museum uHasselt</h3>
            <p>
                Een catalogus van alle preparaten uit het ‘Orgaan Museum uHasselt’ is te koop aan 20€ en kan persoonlijk gesigneerd worden door dr. J. Van Robays.
            </p>
            <p>
                Wie krap bij kas zit, vindt hierlangs de gratis PowerPoint Presentatie:
            </p>
            <p>
                Voor verdere inlichtingen en reservatie bezoek: <a href="http://www.uhasselt.be/orgaanmuseum" target="_blank">Orgaan Museum UHasselt</a>
            </p>
        </div>
        <div class="col-md-5">
            <a target="_blank" href="https://1drv.ms/p/s!AgZaYUa1g0i6gZNt6dih8D4ugWh42w">
                <img src="~/Images/Macroscopisch/ppt.png" class="img-responsive" />
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="page-header">UHasselt krijgt Orgaanmuseum</h3>
                <img data-original="/Images/Curator/0001.jpg" alt="UHasselt krijgt Orgaanmuseum" class="img-responsive lazy" width="2000" height="2600" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Enkele voorbeelden</h3>
        </div>
        <div class="col-sm-3 col-xs-6">
            <h4>
                Eierstokcyste met haar en tand
            </h4>
            <a data-lightbox="Curator" href="/Images/Curator/eierstokcyste met haar en tand.jpg">
                <img data-original="/Images/Curator/eierstokcyste met haar en tand.jpg" class="img-responsive img-customer articles lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <h4>
                Lintworm
            </h4>
            <a data-lightbox="Curator" href="/Images/Curator/Lintworm.jpg">
                <img data-original="/Images/Curator/Lintworm.jpg" class="img-responsive img-customer articles lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <h4>
                Foetus van 14 weken
            </h4>
            <a data-lightbox="Curator" href="/Images/Curator/foetus 14 weken.jpg">
                <img data-original="/Images/Curator/foetus 14 weken.jpg" class="img-responsive img-customer articles lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <h4>
                Koraalsteen van een nier
            </h4>
            <a data-lightbox="Curator" href="/Images/Curator/nier koraalsteen.jpg">
                <img data-original="/Images/Curator/nier koraalsteen.jpg" class="img-responsive img-customer articles lazy" width="800" height="1200" />
            </a>
        </div>
    </div>
</div>