@{
    ViewBag.Title = "Levend Labo";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Levend Labo
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("Artsenkrant", "Index", "Artsenkrant")
                </li>
                <li class="active">Levend Labo</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Artsenkrant/AK Levend Labo extremo/0001.jpg" width="2000" height="2600" alt="Levend Labo artikel" class="img-responsive lazy" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Artsenkrant/AK Levend Labo extremo/0002.jpg" width="2000" height="2600" alt="Levend Labo artikel" class="img-responsive lazy" />
        </div>
    </div>
</div>