@{
    ViewBag.Title = "Panopticum 9";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Panopticum 9
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("Artsenkrant", "Index", "Artsenkrant")
                </li>
                <li class="active">Panopticum 9</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Artsenkrant/AK Panopticum/0001.jpg" width="2000" height="2600" alt="Panopticum artikel" class="img-responsive lazy" />
        </div>
    </div>
</div>