@{
    ViewBag.Title = "Jaguar Drivers’ Magazine";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Jaguar Drivers’ Magazine
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Jaguar Drivers’ Magazine</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a data-lightbox="JDC" href="/Images/JDC/Jaguar MK2 1965 'JAG 605'.jpg">
                <img data-original="/Images/JDC/Jaguar MK2 1965 'JAG 605'.jpg" alt="Jaguar Drivers Club" class="img-responsive lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-md-6">
            <a data-lightbox="JDC" href="/Images/JDC/Jaguar MK2 Schotland.jpg">
                <img data-original="/Images/JDC/Jaguar MK2 Schotland.jpg" alt="Jaguar Drivers Club" class="img-responsive lazy" width="800" height="1200" />
            </a>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <a data-lightbox="JDC" href="/Images/JDC/Jaguar XJS 12 cilinder.jpg">
                <img data-original="/Images/JDC/Jaguar XJS 12 cilinder.jpg" alt="Jaguar Drivers Club" class="img-responsive lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-md-6">
            <a data-lightbox="JDC" href="/Images/JDC/Onafgewerkt project MK5.jpg">
                <img data-original="/Images/JDC/Onafgewerkt project MK5.jpg" alt="Jaguar Drivers Club" class="img-responsive lazy" width="800" height="1200" />
            </a>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <h3>Artikels</h3>
            <p>
                Tussen 1991 en 1996 schreef Johan talrijke artikels voor het Jaguar Drivers’ Magazine. Hij zorgde ook voor de lay-out, de foto’s en de illustraties.  De zondagse rally’s met de kinderen en de enkele buitenlandse reizen waren een ware belevenis.  Enkele artikels  mogen dit illustreren.
            </p>
        </div>
        <div class="col-md-2">
            <a data-lightbox="JDC" href="/Images/JDC/JDC cover74.jpg">
                <img data-original="/Images/JDC/JDC cover74.jpg" alt="Jaguar Drivers Club" class="img-responsive lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-md-4">
            <a data-lightbox="JDC" href="/Images/JDC/Jaguar MK2 a.jpg">
                <img data-original="/Images/JDC/Jaguar MK2 a.jpg" alt="Jaguar Drivers Club" class="img-responsive lazy" width="800" height="1200" />
            </a>
        </div>
    </div>
    <hr/>
    <div class="row image-container">
        <div class="col-sm-3 col-xs-6">
            <h3>
                Jaguar MKV converted
            </h3>
            <a href="@Url.Action("JaguarMKVConvert", "JDC")">
                <img src="~/Images/JDC/jaguarMKVConvert/0001.jpg" class="img-responsive img-customer pdf-articles-small" />
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <h3>
                Kent Sussex Tour
            </h3>
            <a href="@Url.Action("KentSussexTour", "JDC")">
                <img src="~/Images/JDC/KentSussexTour/0001.jpg" class="img-responsive img-customer pdf-articles-small" />
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <h3>
                Saumur 1995
            </h3>
            <a href="@Url.Action("Saumur1995", "JDC")">
                <img src="~/Images/JDC/Saumur1995/0001.jpg" class="img-responsive img-customer pdf-articles-small" />
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <h3>
                Schotland 1993
            </h3>
            <a href="@Url.Action("Schotland1993", "JDC")">
                <img src="~/Images/JDC/Schotland1993/0001.jpg" class="img-responsive img-customer pdf-articles-small" />
            </a>
        </div>
    </div>
</div>