@{
    ViewBag.Title = "Jaguar MKV Convert";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Jaguar MKV Convert
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("Jaguar Drivers’ Magazine", "Index", "JDC")
                </li>
                <li class="active">Jaguar MKV Convert</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a data-lightbox="MKV" href="/Images/JDC/jaguarMKVConvert/0001.jpg">
                <img data-original="/Images/JDC/jaguarMKVConvert/0001.jpg" alt="Jaguar MKV Convert artikel" class="img-responsive lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-md-6">
            <a data-lightbox="MKV" href="/Images/JDC/jaguarMKVConvert/0002.jpg">
                <img data-original="/Images/JDC/jaguarMKVConvert/0002.jpg" alt="Jaguar MKV Convert artikel" class="img-responsive lazy" width="800" height="1200" />
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a data-lightbox="MKV" href="/Images/JDC/jaguarMKVConvert/0003.jpg">
                <img data-original="/Images/JDC/jaguarMKVConvert/0003.jpg" alt="Jaguar MKV Convert artikel" class="img-responsive lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-md-6">
            <a data-lightbox="MKV" href="/Images/JDC/jaguarMKVConvert/0004.jpg">
                <img data-original="/Images/JDC/jaguarMKVConvert/0004.jpg" alt="Jaguar MKV Convert artikel" class="img-responsive lazy" width="800" height="1200" />
            </a>
        </div>
    </div>
</div>