@{
    ViewBag.Title = "Kent Sussex Tour";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Kent Sussex Tour
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("Jaguar Drivers’ Magazine", "Index", "JDC")
                </li>
                <li class="active">Kent Sussex Tour</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a data-lightbox="Kent" href="/Images/JDC/KentSussexTour/0001.jpg">
                <img data-original="/Images/JDC/KentSussexTour/0001.jpg" alt="Kent Sussex Tour artikel" class="img-responsive lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-md-6">
            <a data-lightbox="Kent" href="/Images/JDC/KentSussexTour/0002.jpg">
                <img data-original="/Images/JDC/KentSussexTour/0002.jpg" alt="Kent Sussex Tour artikel" class="img-responsive lazy" width="800" height="1200" />
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a data-lightbox="Kent" href="/Images/JDC/KentSussexTour/0003.jpg">
                <img data-original="/Images/JDC/KentSussexTour/0003.jpg" alt="Kent Sussex Tour artikel" class="img-responsive lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-md-6">
            <a data-lightbox="Kent" href="/Images/JDC/KentSussexTour/0004.jpg">
                <img data-original="/Images/JDC/KentSussexTour/0004.jpg" alt="Kent Sussex Tour artikel" class="img-responsive lazy" width="800" height="1200" />
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <a data-lightbox="Kent" href="/Images/JDC/KentSussexTour/0005.jpg">
            <img data-original="/Images/JDC/KentSussexTour/0005.jpg" alt="Kent Sussex Tour artikel" class="img-responsive lazy" width="800" height="1200" />
        </a>
    </div>
    <div class="col-md-6">
        <a data-lightbox="Kent" href="/Images/JDC/KentSussexTour/0006.jpg">
            <img data-original="/Images/JDC/KentSussexTour/0006.jpg" alt="Kent Sussex Tour artikel" class="img-responsive lazy" width="800" height="1200" />
        </a>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a data-lightbox="Kent" href="/Images/JDC/KentSussexTour/0007.jpg">
                <img data-original="/Images/JDC/KentSussexTour/0007.jpg" alt="Kent Sussex Tour artikel" class="img-responsive lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-md-6">
            <a data-lightbox="Kent" href="/Images/JDC/KentSussexTour/0008.jpg">
                <img data-original="/Images/JDC/KentSussexTour/0008.jpg" alt="Kent Sussex Tour artikel" class="img-responsive lazy" width="800" height="1200" />
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a data-lightbox="Kent" href="/Images/JDC/KentSussexTour/0009.jpg">
                <img data-original="/Images/JDC/KentSussexTour/0009.jpg" alt="Kent Sussex Tour artikel" class="img-responsive lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-md-6">
            <a data-lightbox="Kent" href="/Images/JDC/KentSussexTour/0010.jpg">
                <img data-original="/Images/JDC/KentSussexTour/0010.jpg" alt="Kent Sussex Tour artikel" class="img-responsive lazy" width="800" height="1200" />
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a data-lightbox="Kent" href="/Images/JDC/KentSussexTour/0011.jpg">
                <img data-original="/Images/JDC/KentSussexTour/0011.jpg" alt="Kent Sussex Tour artikel" class="img-responsive lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-md-6">
            <a data-lightbox="Kent" href="/Images/JDC/KentSussexTour/0012.jpg">
                <img data-original="/Images/JDC/KentSussexTour/0012.jpg" alt="Kent Sussex Tour artikel" class="img-responsive lazy" width="800" height="1200" />
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a data-lightbox="Kent" href="/Images/JDC/KentSussexTour/0013.jpg">
                <img data-original="/Images/JDC/KentSussexTour/0013.jpg" alt="Kent Sussex Tour artikel" class="img-responsive lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-md-6">
            <a data-lightbox="Kent" href="/Images/JDC/KentSussexTour/0014.jpg">
                <img data-original="/Images/JDC/KentSussexTour/0014.jpg" alt="Kent Sussex Tour artikel" class="img-responsive lazy" width="800" height="1200" />
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a data-lightbox="Kent" href="/Images/JDC/KentSussexTour/0015.jpg">
                <img data-original="/Images/JDC/KentSussexTour/0015.jpg" alt="Kent Sussex Tour artikel" class="img-responsive lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-md-6">
            <a data-lightbox="Kent" href="/Images/JDC/KentSussexTour/0016.jpg">
                <img data-original="/Images/JDC/KentSussexTour/0016.jpg" alt="Kent Sussex Tour artikel" class="img-responsive lazy" width="800" height="1200" />
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a data-lightbox="Kent" href="/Images/JDC/KentSussexTour/0017.jpg">
                <img data-original="/Images/JDC/KentSussexTour/0017.jpg" alt="Kent Sussex Tour artikel" class="img-responsive lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-md-6">
            <a data-lightbox="Kent" href="/Images/JDC/KentSussexTour/0018.jpg">
                <img data-original="/Images/JDC/KentSussexTour/0018.jpg" alt="Kent Sussex Tour artikel" class="img-responsive lazy" width="800" height="1200" />
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a data-lightbox="Kent" href="/Images/JDC/KentSussexTour/0019.jpg">
                <img data-original="/Images/JDC/KentSussexTour/0019.jpg" alt="Kent Sussex Tour artikel" class="img-responsive lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-md-6">
            <a data-lightbox="Kent" href="/Images/JDC/KentSussexTour/0020.jpg">
                <img data-original="/Images/JDC/KentSussexTour/0020.jpg" alt="Kent Sussex Tour artikel" class="img-responsive lazy" width="800" height="1200" />
            </a>
        </div>
    </div>
</div>