@{
    ViewBag.Title = "Schotland 1993";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Schotland 1993
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("Jaguar Drivers’ Magazine", "Index", "JDC")
                </li>
                <li class="active">Schotland 1993</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a data-lightbox="Schotland" href="/Images/JDC/Schotland1993/0001.jpg">
                <img data-original="/Images/JDC/Schotland1993/0001.jpg" alt="Schotland 1993 artikel" class="img-responsive lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-md-6">
            <a data-lightbox="Schotland" href="/Images/JDC/Schotland1993/0002.jpg">
                <img data-original="/Images/JDC/Schotland1993/0002.jpg" alt="Schotland 1993 artikel" class="img-responsive lazy" width="800" height="1200" />
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a data-lightbox="Schotland" href="/Images/JDC/Schotland1993/0003.jpg">
                <img data-original="/Images/JDC/Schotland1993/0003.jpg" alt="Schotland 1993 artikel" class="img-responsive lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-md-6">
            <a data-lightbox="Schotland" href="/Images/JDC/Schotland1993/0004.jpg">
                <img data-original="/Images/JDC/Schotland1993/0004.jpg" alt="Schotland 1993 artikel" class="img-responsive lazy" width="800" height="1200" />
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <a data-lightbox="Schotland" href="/Images/JDC/Schotland1993/0005.jpg">
            <img data-original="/Images/JDC/Schotland1993/0005.jpg" alt="Schotland 1993 artikel" class="img-responsive lazy" width="800" height="1200" />
        </a>
    </div>
    <div class="col-md-6">
        <a data-lightbox="Schotland" href="/Images/JDC/Schotland1993/0006.jpg">
            <img data-original="/Images/JDC/Schotland1993/0006.jpg" alt="Schotland 1993 artikel" class="img-responsive lazy" width="800" height="1200" />
        </a>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a data-lightbox="Schotland" href="/Images/JDC/Schotland1993/0007.jpg">
                <img data-original="/Images/JDC/Schotland1993/0007.jpg" alt="Schotland 1993 artikel" class="img-responsive lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-md-6">
            <a data-lightbox="Schotland" href="/Images/JDC/Schotland1993/0008.jpg">
                <img data-original="/Images/JDC/Schotland1993/0008.jpg" alt="Schotland 1993 artikel" class="img-responsive lazy" width="800" height="1200" />
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a data-lightbox="Schotland" href="/Images/JDC/Schotland1993/0009.jpg">
                <img data-original="/Images/JDC/Schotland1993/0009.jpg" alt="Schotland 1993 artikel" class="img-responsive lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-md-6">
            <a data-lightbox="Schotland" href="/Images/JDC/Schotland1993/0010.jpg">
                <img data-original="/Images/JDC/Schotland1993/0010.jpg" alt="Schotland 1993 artikel" class="img-responsive lazy" width="800" height="1200" />
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a data-lightbox="Schotland" href="/Images/JDC/Schotland1993/0011.jpg">
                <img data-original="/Images/JDC/Schotland1993/0011.jpg" alt="Schotland 1993 artikel" class="img-responsive lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-md-6">
            <a data-lightbox="Schotland" href="/Images/JDC/Schotland1993/0012.jpg">
                <img data-original="/Images/JDC/Schotland1993/0012.jpg" alt="Schotland 1993 artikel" class="img-responsive lazy" width="800" height="1200" />
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a data-lightbox="Schotland" href="/Images/JDC/Schotland1993/0013.jpg">
                <img data-original="/Images/JDC/Schotland1993/0013.jpg" alt="Schotland 1993 artikel" class="img-responsive lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-md-6">
            <a data-lightbox="Schotland" href="/Images/JDC/Schotland1993/0014.jpg">
                <img data-original="/Images/JDC/Schotland1993/0014.jpg" alt="Schotland 1993 artikel" class="img-responsive lazy" width="800" height="1200" />
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a data-lightbox="Schotland" href="/Images/JDC/Schotland1993/0015.jpg">
                <img data-original="/Images/JDC/Schotland1993/0015.jpg" alt="Schotland 1993 artikel" class="img-responsive lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-md-6">
            <a data-lightbox="Schotland" href="/Images/JDC/Schotland1993/0016.jpg">
                <img data-original="/Images/JDC/Schotland1993/0016.jpg" alt="Schotland 1993 artikel" class="img-responsive lazy" width="800" height="1200" />
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a data-lightbox="Schotland" href="/Images/JDC/Schotland1993/0017.jpg">
                <img data-original="/Images/JDC/Schotland1993/0017.jpg" alt="Schotland 1993 artikel" class="img-responsive lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-md-6">
            <a data-lightbox="Schotland" href="/Images/JDC/Schotland1993/0018.jpg">
                <img data-original="/Images/JDC/Schotland1993/0018.jpg" alt="Schotland 1993 artikel" class="img-responsive lazy" width="800" height="1200" />
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a data-lightbox="Schotland" href="/Images/JDC/Schotland1993/0019.jpg">
                <img data-original="/Images/JDC/Schotland1993/0019.jpg" alt="Schotland 1993 artikel" class="img-responsive lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-md-6">
            <a data-lightbox="Schotland" href="/Images/JDC/Schotland1993/0020.jpg">
                <img data-original="/Images/JDC/Schotland1993/0020.jpg" alt="Schotland 1993 artikel" class="img-responsive lazy" width="800" height="1200" />
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a data-lightbox="Schotland" href="/Images/JDC/Schotland1993/0021.jpg">
                <img data-original="/Images/JDC/Schotland1993/0021.jpg" alt="Schotland 1993 artikel" class="img-responsive lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-md-6">
            <a data-lightbox="Schotland" href="/Images/JDC/Schotland1993/0022.jpg">
                <img data-original="/Images/JDC/Schotland1993/0022.jpg" alt="Schotland 1993 artikel" class="img-responsive lazy" width="800" height="1200" />
            </a>
        </div>
    </div>
</div>