@{
    ViewBag.Title = "Andreas";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                ANDREAS
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">ANDREAS</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <p>
                De levenslange bewondering van patholoog anatoom Johan Van Robays voor Andreas Vesalius heeft zich in het jaar 2014, niet toevallig Vesalius’ 500ste geboortejaar, gebundeld in een autobiografische roman van deze grote 16de eeuwse Vlaming.
            </p>
            <h3>
                Korte samenvatting
            </h3>
            <p>
                Na de onverwachte dood van de briljante anatoom Vesalius belandt zijn dagboek bij zijn ex-liefje Christina. Daarin vindt ze het relaas van een zoektocht naar de geheimen van het menselijke lichaam, waarvoor alles moest wijken. Zelfs zijn gevoelens voor haar. Hoe meer Christina leest, hoe meer ze in de ban raakt van de man die ze eigenlijk nooit echt heeft gekend.
            </p>
            <p>
                Het dagboek begint anno 1537 in Padua, waar de jonge Vesalius doctoreert in de geneeskunde. Met zijn leraar Montanus trekt hij te paard op ziekenbezoek in Venetië. Tijdens de middagpauze treft hij in het atelier van Titiaan een landgenoot aan, tekenaar en schilder Jan Stefan van Kalkar. Het klikt onmiddellijk tussen de twee Vlamingen en het resultaat van dit treffen zal 5 jaar later uitmonden in het meest schitterende anatomieboek van de 16de eeuw: het De Humani Corporis Fabrica.
            </p>
            <a href="@Url.Action("Samenvatting", "Andreas")">LEES MEER</a>
            <hr/>
            <h3>
                Verantwoording
            </h3>
            <p>
                De auteur is patholoog-anatoom en lijkenontleder in het ZOL. Samen met een grote interesse in de zestiende eeuw en in het bijzonder in de ontluikende renaissance van kunst, muziek en wetenschappen, is dit een stevige basis om in de huid van Vesalius te kruipen en een geloofwaardige autobiografie te schrijven.
            </p>
            <p>
                Voor de correcte historische details baseerde Van Robays zich op de top-drie biografieën over Vesalius:
            </p>
            <ul>
                <li>
                    O’MALLEY, C.D., “Andreas Vesalius of Brussels, 1514-1564”, Berkeley- Los Angeles: University of California Press, 1964
                </li>
                <li>
                    ROTH, M., ‘Andreas Vesalius Bruxellensis”, Berlin, 1892, herdruk in 1965
                </li>
                <li>
                    CUSHING, H., “ A bio-bibliografie of Andreas Vesalius”, London: Archon Books, 1962
                </li>
            </ul>
            <br />
            <p>
                De autobiografische roman werd gepubliceerd bij uitgeverij Van Halewyck en kost €19.95 
            </p>
            <p>
                Johan Van Robays signeert zijn roman op de boekenbeurs in Antwerpen op 31 oktober en 8 en 10 november van 13u tot 17u.
            </p>
            <hr/>
            <h3>
                Ontstaansgeschiedenis van ANDREAS
            </h3>
            <p>
                Zondag 17 maart 1996 viel er uit mijn bibliotheek een boek op mijn hoofd bij het graaien naar een ander. Het was de Dover Edition: The Illustrations from the works of Andreas Vesalius (Saunders & O’Malley). Ik had deze goedkope studentenuitgave 16 jaar eerder gekocht bij Foyles For Books tijdens een reisje naar Londen met mijn jonge bruid. Als kersvers patholoog anatoom bewonderde ik de mooie anatomische plaatjes. Mijn jonge bruid vond ze nuttig als artistieke schetsen voor haar les beeldhouwen.
            </p>
            <p>
                Een paar zondagen later (7 april 1996) sloeg ik het prentenboek nog eens open en ontdekte er een korte biografische schets in. Omdat het Paaszondag was (het feest van de heropstanding uit de doden) had ik tijd en las het levensverhaal van Vesalius volledig door. Het was een kantelmoment in mijn leven. De Blitz carrière die hij maakte, deed me duizelen. Op zijn 22ste  wordt hij professor anatomie en chirurgie in een van de grootste universiteiten van toen. En hij is net geen 28 als hij zijn magnum opus, de Fabrica publiceert. Toen ik verder las, en zag hoe de Kerk en de dogmatische proffen zijn nieuwe kijk op de mens en het leven bekritiseerden zodat hij zijn academische loopbaan opgaf, werd ik opstandig. Als ik tenslotte het relaas van zijn tragische dood als schipbreukeling op het Griekse eiland Zakynthos las, kantelde mijn brein. Op dit moment wist ik dat ik iets moest doen met die man.
            </p>
            <a href="@Url.Action("OntstaansGeschiedenis", "Andreas")">LEES MEER</a>

        </div>
        <div class="col-md-4">
            <a href="~/Images/Auteur/Andreas cover  2D.jpg" data-lightbox="ANDREAS">
                <img src="~/Images/Auteur/Andreas cover  2D.jpg" class="img-responsive" alt="Andreas cover 2D" />
            </a>
            <br />
            <a href="~/Images/Auteur/Andreas cover 3D.jpg" data-lightbox="ANDREAS">
                <img src="~/Images/Auteur/Andreas cover 3D.jpg" class="img-responsive" alt="Andreas cover 3D" />
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-header">Interview ANDREAS TV Limburg </h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/YWovyxwuLTk" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-header">Boekenbeurs-signeren</h2>
            <a href="~/Images/Auteur/Boekenbeurs-2014-auteurs.jpg" data-lightbox="ANDREAS">
                <img src="~/Images/Auteur/Boekenbeurs-2014-auteurs.jpg" class="img-responsive" alt="Boekenbeurs Krant" />
            </a>
        </div>
    </div>
</div>