@{
    ViewBag.Title = "Curator";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Ontstaansgeschiedenis van ANDREAS
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("Andreas", "Index", "Andreas")
                </li>
                <li class="active">Ontstaansgeschiedenis</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <p>
                Zondag 17 maart 1996 viel er uit mijn bibliotheek een boek op mijn hoofd bij het graaien naar een ander. Het was de Dover Edition: The Illustrations from the works of Andreas Vesalius (Saunders & O’Malley). Ik had deze goedkope studentenuitgave 16 jaar eerder gekocht bij Foyles For Books tijdens een reisje naar Londen met mijn jonge bruid. Als kersvers patholoog anatoom bewonderde ik de mooie anatomische plaatjes. Mijn jonge bruid vond ze nuttig als artistieke schetsen voor haar les beeldhouwen.
            </p>
            <p>
                Een paar zondagen later (7 april 1996) sloeg ik het prentenboek nog eens open en ontdekte er een korte biografische schets in. Omdat het Paaszondag was (het feest van de heropstanding uit de doden) had ik tijd en las het levensverhaal van Vesalius volledig door. Het was een kantelmoment in mijn leven. De Blitz carrière die hij maakte, deed me duizelen. Op zijn 22ste  wordt hij professor anatomie en chirurgie in een van de grootste universiteiten van toen. En hij is net geen 28 als hij zijn magnum opus, de Fabrica publiceert. Toen ik verder las, en zag hoe de Kerk en de dogmatische proffen zijn nieuwe kijk op de mens en het leven bekritiseerden zodat hij zijn academische loopbaan opgaf, werd ik opstandig. Als ik tenslotte het relaas van zijn tragische dood als schipbreukeling op het Griekse eiland Zakynthos las, kantelde mijn brein. Op dit moment wist ik dat ik iets moest doen met die man.
            </p>
            <p>
                Mijn eerste idee was een biografie over hem te schrijven maar er stonden er al zovele op boekenplanken. Origineler zou een autobiografie zijn en in die tijd bestond er nog geen enkele. Maar een autobiografie schrijven vergt méér dan het opsommen van een reeks historisch correcte gegevens. Het opnieuw tot leven wekken van Vesalius vereist ook en vooral een goed inlevingsvermogen in een man die weinig tot niets over zichzelf geschreven heeft.
            </p>
            <p>
                Omdat ik als patholoog anatoom en lijkschouwer, net als mijn verre voorganger Vesalius, door alle stankputten en darmkluwens getrokken ben, kan ik me alvast in dit gedeelte van de materie goed inleven.
            </p>
            <h3>
                Vesalius’ karakter
            </h3>
            <p>
                Voor zijn karakter dacht ik eraan dit op het mijne te baseren. Want het is toch een algemene vaststelling dat de keuze van een beroep iets zegt over het karakter van de beoefenaar ervan. Iedereen kan zich het prototype voorstellen van een bankier. Een priester. Een begrafenisondernemer. Een dichteres. En de mentaliteit van een kruidenier is zelfs spreekwoordelijk. Ook een patholoog-lijkschouwer heeft zo zijn specifieke trekjes die in TV series flink uitvergroot worden.
            </p>
            <p>
                Daarnaast was Vesalius een intelligente kerel en intelligentie en humor gaan heel vaak samen. Dus moest mijn Vesalius-figuur ook een jongensachtige, ludieke en speelse geest bezitten.
            </p>
            <p>
                Of ik daarmee een geloofwaardige Vesalius neergezet heb, weet ik niet. Volgens dokter Maurits Biesbrouck, die een groot Vesalius bewonderaar is en een gedeelte van Vesalius’ Fabrica uit het Latijn naar het Nederlands heeft vertaald, is het gelukt. Nadat hij de proefversie van mijn roman gelezen had, schreef hij: “Johan, u moet dit zeker uitgeven! De reden is simpel: het is de eerste roman over Vesalius die hem echt goed weergeeft en die boordevol juiste feitelijke gegevens zit. De anatoom lééft en ook zijn karakter komt goed tot zijn recht. Het is voor mij verrassend en heel hartverwarmend hoe treffend het beeld dat u van hem schetst samenvalt met wat ik mij er steeds bij heb voorgesteld.”
            </p>
            <p>
                Na deze bemoedigende woorden stuurde ik mijn roman op naar enkele uitgevers, ondermeer Van Halewyck, Lannoo en Houtekiet. En er viel een doodse stilte. Een doodse stilte van elf jaar. Het manuscript verdween in de onderste lade van mijn schrijftafel en stierf er een stille en roemloze dood.
            </p>
            <h3>
                Heropstanding uit de doden
            </h3>
            <p>
                Tot enkele foetussen in weckpotten en andere rariteiten uit mijn kabinet hem weer tot leven wekken. Want in 2008 kwam ik op het idee mijn 30 jarige verzameling foetale afwijkingen en orgaankankers voor het grote publiek open te stellen. Een van de bezoekers in 2013 was Annemie Deboodt, een jaargenote aan de KULeuven. Na de rondleiding in mijn rariteitenkabinet stelde ze me voor aan twee artsen die deel uitmaakten van het … Vesalius Continuum project. Nooit van gehoord maar het bleek een informeel groepje artsen, zeilers, beeldhouwers, een projectontwikkelaar en een Belgische Consul in Griekenland, die elkaar gevonden hadden in de gezamenlijke bewondering voor Vesalius en met het doel zijn 500ste geboortejaar in 2014 gepast te vieren.
            </p>
            <p>
                De twee beeldhouwers (Pascale en Chantal Pollier) waren bezig aan een bronzen standbeeld van Vesalius dat nu onlangs ingehuldigd werd tijdens een Internationaal symposium op het Griekse eiland Zakynthos. Tijdens dit symposium heeft de projectontwikkelaar (William Nagels) een Belgisch-Griekse avond georganiseerd en de Belgische consul in Athene, Theo Dirix, de nodige fondsen ingezameld. Huisarts Marc De Roeck, erevoorzitter van de Medical Yachting Club van Antwerpen, was er met een groot konvooi artsen naartoe gezeild.
            </p>
            <p>
                Maar goed, terug naar de ontstaansgeschiedenis van mijn roman. Eerder dit jaar had beeldhouwster Pascale Pollier een gezichtsrecontructie van Vesalius’ hoofd gemaakt en dat werd ingehuldigd in het Greek House in Antwerpen. Omdat ik geen rijbewijs bezit, ben ik voor verplaatsingen aangewezen op de trein of een bereidwillige automobilist. Ik kreeg een lift van Annemie Deboodt en toen ik onderweg zei dat er al elf jaar een autobiografie van Vesalius in mijn lade ligt dood te gaan, keek haar man Wim Aerts achterom en zei: laat me die eens lezen en als die goed is toon ik hem aan André Van Halewyck. André is een oude klasvriend van me.
            </p>
            <p>
                André Van Halewyck las, zag dat het goed was en publiceerde.
            </p>
            <h3>
                Het olieverfschilderij op de voorflap.
            </h3>
            <p>
                In 1848 presenteerde de Oostendse kunstschilder Edouard J.C. Hamman een olieverfschilderij van Vesalius op het jaarlijkse Salon in Brussel. Het gelauwerde doek werd aangekocht door een Rotterdamse verzamelaar die het doorverkocht aan een koper uit Amerika die niet bij naam bekend is. Het schilderij zou hier in België waarschijnlijk totaal vergeten zijn, ware het niet dat een zekere Adolphe Mouilleron er vóór de verkoop een zwart-wit lithografie van maakte. Het tafereel inspireerde onmiddellijk een vijftal kunstenaars die er elk een olieverfdoek van schilderden.
            </p>
            <p>
                De grote Vesalius specialisten Omer Steeno, Bob Van Hee en Maurits Biesbrouck hebben de 5 kopijen gecatalogeerd en daar een artikel over geschreven. Toen ik Bob Van Hee het olieverfschilderij dat de voorflap van ANDREAS siert, toonde gaf hij toe dat hij het nog nooit gezien had. Volgens hem zou het een nog onbekende zesde kopij kunnen zijn. Of wie weet? Zou het niet de oorspronkelijke Hamman kunnen zijn die einde de negentiende eeuw in Amerika verzeilde? Ik vond het al surfend op de website van de medische bibliotheek van Boston.
            </p>
            <p>
                Johan Van Robays
            </p>
            <hr />
        </div>
    </div>
</div>