@{
    ViewBag.Title = "Curator";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Korte samenvatting
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("Andreas", "Index", "Andreas")
                </li>
                <li class="active">Korte samenvatting</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <p>
                Na de onverwachte dood van de briljante anatoom Vesalius belandt zijn dagboek bij zijn ex-liefje Christina. Daarin vindt ze het relaas van een zoektocht naar de geheimen van het menselijke lichaam, waarvoor alles moest wijken. Zelfs zijn gevoelens voor haar. Hoe meer Christina leest, hoe meer ze in de ban raakt van de man die ze eigenlijk nooit echt heeft gekend.
            </p>
            <p>
                Het dagboek begint anno 1537 in Padua, waar de jonge Vesalius doctoreert in de geneeskunde. Met zijn leraar Montanus trekt hij te paard op ziekenbezoek in Venetië. Tijdens de middagpauze treft hij in het atelier van Titiaan een landgenoot aan, tekenaar en schilder Jan Stefan van Kalkar. Het klikt onmiddellijk tussen de twee Vlamingen en het resultaat van dit treffen zal 5 jaar later uitmonden in het meest schitterende anatomieboek van de 16de eeuw: het De Humani Corporis Fabrica.
            </p>
            <p>
                In hetzelfde jaar 1537 legt Vesalius in Padua zijn eindexamen af met de grootste onderscheiding en wordt de volgende dag benoemd tot professor anatomie en chirurgie. Hij is net geen 23 jaar oud. Tijdens de lessen tekent hij de menselijke anatomie zo mooi op het bord dat zijn studenten hem vragen om die schetsen in druk uit te geven. Zo ontstaat een eerste publicatie van het duo Vesalius-Kalkar: de Tabulae anatomicae sex. Gezien het grote succes van die zes anatomische platen, vat Vesalius het plan op om een groter en allesomvattend anatomieboek te schrijven. Een anatomische atlas die de volledige menselijke structuur in kaart zal brengen met alle botten, spieren, pezen, zenuwen, bloedvaten en alle inwendige organen. En dit alles rijkelijk geïllustreerd met honderden gedetailleerde tekeningen van de hand van zijn vriend Jan Stefan.
            </p>
            <p>
                In zijn dagboek leest Christina ook gruwelijke zaken, zoals wat er met haar moeder is gebeurd na haar ter aarde bestelling, en hoe haar vader, de gevreesde dominicaan en grootinquisiteur Orazio Borreguero, de anatoom het vuur aan de schenen gelegd heeft om diens ketterse ideeën.
            </p>
            <p>
                Uit het samenspel van Vesalius’ dagboeknotities en het commentaar dat Christina erop geeft, ontstaat een levendig beeld van de gedreven anatoom en de rebelse wetenschapper. Als hij bij zijn eerste autopsies fout na fout ontdekt in de 1400 jaar oude geschriften van Galenus, komt Vesalius tot het inzicht dat de anatomie niet uit de oude boeken te leren valt, maar door eigenhandig een vers lijk te ontleden. Omdat zo’n kadaver niet uit de lucht komt vallen, spit hij er een uit de grond of vraagt hij aan de plaatselijke halsrechter het lijk van een opgehangen booswicht te mogen ontleden.

            </p>
            <p>
                Al zeer vroeg gelooft Vesalius enkel en alleen wat hij met zijn eigen ogen ziet en niet wat de oude wijzen in verstofte boeken geschreven hebben. In dit opzicht is hij een voorloper van de Evidence-based Medicine.
            </p>
            <p>
                In de dagboeknotities leest Christina ook het moeizame ontstaan van Vesalius’ magnum opus en ziet dat de publicatie van zo’n anatomieboek heel wat om het lijf heeft. Er moet vooreerst een vers lijk gevonden worden en de messen, scharen, zagen en boren moeten vlijmscherp zijn. Het snijmateriaal vindt Vesalius op de jaarmarkt in Padua tijdens het carnaval, en het is daar dat hij voor het eerst Christina ontmoet. Samen trekken ze van kaas- naar kruidenkraam en zien tussendoor een kind met een groot waterhoofd en nog andere anatomische rariteiten. Gaandeweg wordt Christina verliefd op die rare snuiter van een jonge professor, maar als die enkel oog blijkt te hebben voor autopsiemateriaal en anatomische curiosa, moet ze als vrouw wel iets forceren.
            </p>
            <p>
                Na de publicatie van zijn Fabrica zoekt Vesalius bescherming bij keizer Karel V omdat hij represailles vreest van de dogmatische professoren en van de kerk. Van de dogmatici omdat hij 200 fouten in het werk van de oude Galenus –de paus van de geneeskunde- heeft ontdekt en verbeterd. Van de clerus omdat het aanvallen van iemand die onfeilbaarheid toegedacht wordt, een ketterse daad is. Zo maakt Vesalius na de publicatie van zijn Fabrica, amper 27 jaar oud, een einde aan zijn academische loopbaan en wordt hofarts bij keizer Karel en later bij diens zoon Filips II in Madrid.
            </p>
            <p>
                Na twintig verloren jaren aan het Habsburgse hof verlaat hij Spanje om via Venetië naar het Heilig Land te reizen. Op de vooravond van zijn vertrek uit Venetië woont hij toevallig een concert bij met madrigalen van zijn net overleden landgenoot Adriaen Willaert. Tot zijn grote verrassing worden de liederen op klavecimbel begeleid door Christina, die een oud-leerlinge van Willaert blijkt te zijn. Voor het eerst in zijn leven ervaart de nuchtere wetenschapper de betovering van de muziek en van de liefde. Maar het is te laat. De volgende dag zeilt hij naar het heilig land en keert er niet levend van terug. Na een zware storm in de Ionische zee spoelt hij aan als schipbreukeling op het Griekse eiland Zakynthos en wordt er begraven.
            </p>
            <hr />
        </div>
    </div>
</div>