@{
    ViewBag.Title = "Oeuvre";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Oeuvre
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Oeuvre</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <a href="@Url.Action("Index","Andreas")">
                <img src="~/Images/Auteur/Andreas cover  2D.jpg" class="img-responsive" />
            </a>
        </div>
        <div class="col-md-9">
            <h3>ANDREAS</h3>
            <h4>Roman</h4>
            <p>Na de onverwachte dood van de briljante anatoom en wetenschapspionier Andreas Vesalius belandt zijn dagboek bij zijn ex-liefje Christina. Daarin vindt ze het relaas van een leven in het teken van die ene wetenschappelijke waarheid waarvoor alles moest wijken. Zelfs zijn gevoelens voor haar.</p>
            <p>In zijn dagboek leest ze ook gruwelijke zaken, over het wrede lot van haar eigen moeder en over de nietsontziende Spaanse inquisitie, die Vesalius het vuur aan de schenen legde omdat zijn onorthodoxe visie op de menselijke anatomie grensde aan ketterij. En was het werkelijk toeval dat er illegale lijkopgravingen plaatsvonden in de vele universiteitssteden waar Vesalius zijn openbare lijkschouwingen hield?</p>
            <p>Tussendoor schetsen de dagboekfragmenten de ontstaansgeschiedenis van het anatomieboek Fabrica, Vesalius' magnum opus, en verhalen ze over zijn odyssee doorheen Europa als hofarts van keizer Karel V. Hoe meer Christina leest, hoe meer ze in de ban raakt van de man die ze eigenlijk nooit heeft gekend ...</p>
            <a href="@Url.Action("Index", "Andreas")" class="btn btn-primary">Bekijk Andreas<i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <a href="@Url.Action("Index","Artsenkrant")">
                <img src="~/Images/HomePage/AK Vesaliusreis cover.jpg" class="img-responsive" />
            </a>
        </div>
        <div class="col-md-9">
            <h3>Artsenkrant</h3>
            <h4>Artikel</h4>
            <p>Johan Van Robays schrijft al NUMMER jaar artikels die verschijnen in de wekelijkse artsenkrant.</p>
            <p>Al doende heeft hij al meer dan 100 artikels op zijn naam staan en groeit het aantal nog steeds.</p>
            <a href="@Url.Action("Index", "Artsenkrant")" class="btn btn-primary">Bekijk artikels<i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <a href="@Url.Action("Index", "ZOLarium")">
                <img src="~/Images/Auteur/zolarium51.png" class="img-responsive" />
            </a>
        </div>
        <div class="col-md-9">
            <h3>ZOLarium</h3>
            <h4>Artikel</h4>
            <p>
                Sinds 2004 schrijft Johan telkens twee artikels in het driemaandelijks tijdschrift van het ZOL, het ZOLarium. Één artikel belicht een eponiem uit de medische wereld. Wie was bijvoorbeeld de man achter de ziekte van Alzheimer? Een tweede artikel situeert zich in de rubriek ‘Dissectiekamer’ en hier wordt een diverse waaier van onderwerpen ‘aangesneden’.
            </p>
            <a href="@Url.Action("Index", "ZOLarium")" class="btn btn-primary">Bekijk artikels<i class="fa fa-angle-right"></i></a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <a href="@Url.Action("Index", "JDC")">
                <img src="~/Images/Auteur/cover74.jpg" class="img-responsive" />
            </a>
        </div>
        <div class="col-md-9">
            <h3>Jaguar Drivers Club</h3>
            <h4>Artikel</h4>
            <p>
                Tussen 1991 en 1996 schreef Johan talrijke artikels voor het Jaguar Drivers’ Magazine. Hij zorgde ook voor de lay-out, de foto’s en de illustraties.  De zondagse rally’s met de kinderen en de enkele buitenlandse reizen waren een ware belevenis.  Enkele artikels  mogen dit illustreren.
            </p>
            <a href="@Url.Action("Index", "JDC")" class="btn btn-primary">Bekijk artikels <i class="fa fa-angle-right"></i></a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <a href="@Url.Action("Index", "Fritz")">
                <img src="~/Images/Auteur/fritzdefoetcover.jpg" class="img-responsive" />
            </a>
        </div>
        <div class="col-md-9">
            <h3>Fritz de Foet</h3>
            <h4>Boek</h4>
            <p>
                Tussen de vele bezienswaardigheden in het rariteitenkabinet van dokter Van Robays, staat een collectie foetussen op sterk water. Stuk voor stuk zijn het pronkstukken met een schitterende afwijking die niet met het normale humane leven verenigbaar was. Artefacten, aberrant in elkaar geflanste vormen, dramatische bloopers van de natuur maar een godsgeschenk voor een wetenschapper.
            </p>
            <a href="@Url.Action("Index", "Fritz")" class="btn btn-primary">Bekijk boek <i class="fa fa-angle-right"></i></a>
        </div>
    </div>
</div>