@{
    ViewBag.Title = "Macroscopisch Oog";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Macroscopisch Oog
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Macroscopisch Oog</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <p>
                Een patholoog onderzoekt kleine en grote operatie resectiestukken en stelt onder de microscoop de diagnose van infectie of kanker. Daarnaast doet hij ook autopsies op foetussen, pasgeborenen en volwassenen.
            </p>
            <p>
                Enkele voorbeelden uit de praktijk.
            </p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-7">
            <h3>Slokdarm</h3>
            <p>
                Het resectiestuk toont een slokdarm van een 15 jarige jongen. Tussen 0 en 2 cm, en tussen 9 en 11 cm is het bekledend epitheel macroscopisch normaal. Daartussen lijkt het volledig weggeschroeid.
            </p>
            <p>
                Op een morgen vindt een vader zijn zoon dood in bed. Niet onder de lakens maar er bovenop en nog volledig aangekleed. Er ligt een soort gelukzalige glimlach op zijn gezicht maar hij beweegt niet meer. Totaal van slag belt de vader de huisarts op. Die is onmiddellijk ter plaatse maar kan enkel de dood vaststellen. Op het overlijdensattest vermeldt hij een hartstilstand als doodsoorzaak. Omdat zijn zoon de dag voordien nog springlevend was kan de vader het amper geloven en vraagt een autopsie.
            </p>
            <a href="@Url.Action("Slokdarm", "Macroscopisch")">LEES MEER</a>
        </div>
        <div class="col-md-5">
            <a href="@Url.Action("Slokdarm", "Macroscopisch")">
                <img src="~/Images/Macroscopisch/Slokdarm1.png" class="img-responsive" />
            </a>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-7">
            <h3>Cycloop</h3>
            <p>
                Niet enkel in de mythologie bestaan cyclopen maar ook in het echt. Zowel bij dieren als bij mensen. In de Amerikaanse staat Idaho werden rond 1955 meerdere lammetjes geboren met slechts één oog. Er waren nog andere misvormingen in het aangezicht en de hersenen waren onvolledig ontwikkeld. Elf jaar lang werd gezocht naar de oorzaak van deze eigenaardige aandoening tot Lynn James de schuldige vond. Hij deed geen laboratoriumonderzoek maar ging ter plaatse in het veld kijken. Drie zomers lang ging hij tussen de schapen leven en ontdekte tenslotte dat de ‘maïs lelie’ (Veratrum californicum) de boosdoener was. Deze hoge en rechte plant draagt witte bloemen en gelijkt qua vorm op een maisplant. De bloemen bevatten een gif dat om de voor de hand liggende reden cyclopamine genoemd werd. Als het moederschaap rond de veertiende dag van de zwangerschap die plant naar binnen speelde, ontstond cyclopie bij het lam. Het moederschaap zelf bleef gezond.
            </p>
            <a href="@Url.Action("Cycloop", "Macroscopisch")">LEES MEER</a>
        </div>
        <div class="col-md-5">
            <a href="@Url.Action("Cycloop", "Macroscopisch")">
                <img src="~/Images/Macroscopisch/cycloop1.png" style="width:80%" class="img-responsive" />
            </a>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-7">
            <h3>TwinToTwin</h3>
            <p>
                In de vliezen van deze tweelingplacenta wordt een dode, gemummificeerde foetus gevonden. Een foetus papyraceus. Via een verstorven stuk navelstreng is hij verbonden met een levenloos stuk moederkoek. Macroscopisch is dit gedeelte hard en wit. Microscopisch is het volledig geïnfarcteerd. Het overige deel van de placenta komt goed doorbloed en normaal voor. De andere navelstreng staat volkomen perifeer ingeplant en bevat drie bloedvaten. Het tweede lid van deze eeneiige tweeling werd op 38 weken geboren. Het is een gezonde jongen van 2835 gram.
            </p>
            <a href="@Url.Action("TwinToTwin", "Macroscopisch")">LEES MEER</a>
        </div>
        <div class="col-md-5">
            <a href="@Url.Action("TwinToTwin", "Macroscopisch")">
                <img src="~/Images/Macroscopisch/twinTotwin1.png" class="img-responsive" />
            </a>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-7">
            <h3>Zwart verkleurde dikdarm</h3>
            <p>
                Dit is een overlangs ingesneden dikke darm met centraal een tumor van 5 cm diameter. De tumor bezit een normale vleeskleur maar de omgevende darmplooien zijn inktzwart. Een plaatselijk tekort aan bloedtoever met necrose (ischemie) is er niet. Daarvoor zijn de plooien te mooi gevormd en niet afgevlakt. De patiënte heeft ook geen Chinese inkt gedronken. Dan zou de tumor eveneens zwart kleuren.
            </p>
            <a href="@Url.Action("MelanosisColi", "Macroscopisch")">LEES MEER</a>
        </div>
        <div class="col-md-5">
            <a href="@Url.Action("MelanosisColi", "Macroscopisch")">
                <img src="~/Images/Macroscopisch/MelanosisColi1.png" class="img-responsive" />
            </a>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-7">
            <h3>Catalogus Orgaan Museum uHasselt</h3>
            <p>
                Een catalogus van alle preparaten uit het ‘Orgaan Museum uHasselt’ is te koop aan 20€ en kan persoonlijk gesigneerd worden door dr. J. Van Robays.
            </p>
            <p>
                Wie krap bij kas zit, vindt hierlangs de gratis PowerPoint Presentatie: 
            </p>
            <p>
                Voor verdere inlichtingen en reservatie bezoek: <a href="http://www.uhasselt.be/orgaanmuseum" target="_blank">Orgaan Museum UHasselt</a>
            </p>
        </div>
        <div class="col-md-5">
            <a target="_blank" href="https://1drv.ms/p/s!AgZaYUa1g0i6gZNt6dih8D4ugWh42w">
                <img src="~/Images/Macroscopisch/ppt.png" class="img-responsive" />
            </a>
        </div>
    </div>
</div>