@{
    ViewBag.Title = "Huwelijk";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                An & Johan
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Huwelijk</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a href="~/Images/HomePage/03huwelijkanjohan.jpg" data-lightbox="Huwelijk">
                <img src="~/Images/HomePage/03huwelijkanjohan.jpg" class="img-responsive" />
            </a>
        </div>
        <div class="col-md-8">
            <h3>Huwelijk</h3>
            <p>
                Een week na het wettelijk huwelijk werd op 23 augustus 1975 het kerkelijk huwelijk plechtig ingezegend in de Sint-Amandskerk te Roeselare. Eigenlijk had ik al veel vroeger willen trouwen met An –we kenden elkaar al van mei 1968- maar dat mocht toen niet van mijn vader. Eerst moet ik mijn diploma van dokter in de geneeskunde op zak hebben. Maar anderzijds had hij er niets op tegen dat we die zeven lange studiejaren samenhokten onder één dak. Heerlijke paradoxl!  En met een arsenaal aan voorbehoedsmiddelen hebben we ook de geboorte van de eersteling kunnen uitstellen tot exact 9 maanden na de huwelijksinzegening.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Huwelijksfoto's</h3>
        </div>
        <div class="col-md-6">
            <a href="~/Images/Huwelijk/trouwfoto an johan1.jpg" data-lightbox="Huwelijk">
                <img src="~/Images/Huwelijk/trouwfoto an johan1.jpg" class="img-responsive" />
                </a>
</div>
        <div class="col-md-6">
            <a href="~/Images/Huwelijk/trouwfoto an johan2.jpg" data-lightbox="Huwelijk">
                <img src="~/Images/Huwelijk/trouwfoto an johan2.jpg" class="img-responsive" />
            </a>
</div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p class="text-center">
                Van links naar rechts: Laurent Blomme en Simonne Van Kerrebroeck (vader en moeder van An), het gelukkige koppel en dan Raf Van Robays en Jo Vermeersch (vader en moeder van Johan)
            </p>
        </div>
        <div class="col-md-6">
            <p class="text-center">
                Van links naar rechts: Emile Vermeersch (mijn grootvader aan moederzijde), Alice Tant (grootmoeder aan moederszijde), Metje (grootmoeder van An), haar zoon Laurent (de vader van An) mijn moeder, An en ik, en dan mijn schoonmoeder en mijn (opvallend kleine) vader.
            </p>
        </div>
    </div>
    <div class="row">
        <br />
        <div class="col-md-6 col-lg-push-3">
            <a href="~/Images/Huwelijk/trouwfoto an johan3.jpg" data-lightbox="Huwelijk">
                <img src="~/Images/Huwelijk/trouwfoto an johan3.jpg" class="img-responsive" />
                </a>
</div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-push-3">
            <p class="text-center">
                Hier de derde door de glamourfotograaf van Roeselare vooraf ingestudeerde pose, van links naar rechts mijn broer Luk (ondertussen verbasterd tot Luc, Lucas, Luuq en het zal mettertijd zeker nog origineler worden), dan mijn jongste broer Koen (amper 17), mijn moeder, het stralende koppel, de even stralende vader met zijn Woody Allen bril en dan uiterst rechts, mijn zus Lieve en haar eerste man, Jan.
            </p>
        </div>
    </div>
</div>