@{
    ViewBag.Title = "Pater Familias";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Pater Familias
                <small>10 kinderen</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Pater Familias</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img src="~/Images/Pater Familias/Flair 10 VR copy.jpg" class="img-responsive" usemap="#imgmap" />
            <map name="imgmap">
                <area alt="Maaike" shape="rect" coords="0,360,160,570" href="#Maaike">
                <area alt="Hans" shape="rect" coords="500,120,600,255" href="#Hans">
                <area alt="Mattias" shape="rect" coords="920,0,1010,200" href="#Mattias">
                <area alt="Nele" shape="rect" coords="760,80,870,200" href="#Nele">
                <area alt="Ine" shape="rect" coords="260,130,360,250" href="#Ine">
                <area alt="Lies" shape="rect" coords="150,150,250,260" href="#Lies">
                <area alt="Griet" shape="rect" coords="1010,0,1120,200" href="#Griet">
                <area alt="Sanne" shape="rect" coords="700,200,830,350" href="#Sanne">
                <area alt="Gijs" shape="rect" coords="600,60,720,200" href="#Gijs">
                <area alt="Daan" shape="rect" coords="330,360,460,500" href="#Daan">
            </map>
        </div>
    </div>
</div>
<div class="container hidden-sm hidden-xs">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">De 10 kinderen</h3>
        </div>
    </div>
    <div class="row image-container">
        <div class="col-sm-2 col-xs-5">
            <a href="#Maaike">
                <p>Maaike</p>
                <img src="~/Images/Familie/maaike.jpg" class="img-responsive img-customer squares" />
            </a>
        </div>
        <div class="col-sm-2 col-xs-5">
            <a href="#Hans">
                <p>Hans</p>
                <img src="~/Images/Familie/Hans.jpg" class="img-responsive img-customer squares" />
            </a>
        </div>
        <div class="col-sm-2 col-xs-5">
            <a href="#Mattias">
                <p>Mattias</p>
                <img src="~/Images/Familie/Mattias.jpg" class="img-responsive img-customer squares" />
            </a>
        </div>
        <div class="col-sm-2 col-xs-5">
            <a href="#Nele">
                <p>Nele</p>
                <img src="~/Images/Familie/Nele.jpg" class="img-responsive img-customer squares">
            </a>
        </div>
        <div class="col-sm-2 col-xs-5">
            <a href="#Ine">
                <p>Ine</p>
                <img src="~/Images/Familie/Ine.jpg" class="img-responsive img-customer squares" />
            </a>
        </div>
    </div>
    <div class="row image-container">
        <div class="col-sm-2 col-xs-5">
            <a href="#Lies">
                <p>Lies</p>
                <img src="~/Images/Familie/Lies.jpg" class="img-responsive img-customer squares">
            </a>
        </div>
        <div class="col-sm-2 col-xs-5">
            <a href="#Griet">
                <p>Griet</p>
                <img src="~/Images/Familie/Griet.jpg" class="img-responsive img-customer squares">
            </a>
        </div>
        <div class="col-sm-2 col-xs-5">
            <a href="#Sanne">
                <p>Sanne</p>
                <img src="~/Images/Familie/Sanne.jpg" class="img-responsive img-customer squares" />
            </a>
        </div>
        <div class="col-sm-2 col-xs-5">
            <a href="#Gijs">
                <p>Gijs</p>
                <img src="~/Images/Familie/Gijs.jpg" class="img-responsive img-customer squares">
            </a>
        </div>
        <div class="col-sm-2 col-xs-5">
            <a href="#Daan">
                <p>Daan</p>
                <img src="~/Images/Familie/Daan.jpg" class="img-responsive img-customer squares">
            </a>
        </div>
    </div>
</div>
<div class="container">
    <a name="Moeke">
    </a>
    <hr />
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-7">
            <img src="~/Images/Familie/Moeke.png" class="img-responsive">
        </div>
        <div class="col-md-3 col-sm-3 col-xs-7">
            <h3>An Blomme</h3>
            <h4>Geboortedatum</h4>
            <p>05 oktober 1951</p>
            <h4>Studies</h4>
            <p>Licentiaat economische wetenschappen</p>
            <h4>Partner</h4>
            <p>Johan Van Robays</p>
            <h4>Moeder van de 10 kinderen</h4>
        </div>
    </div>
    <a name="Maaike">
    </a>
    <a name="Hans">
    </a>
    <hr />
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-7">
            <img src="/Images/Familie/maaike.jpg" class="img-responsive">
        </div>
        <div class="col-md-3 col-sm-3 col-xs-7">
            <h3>Maaike Van Robays</h3>
            <h4>Geboortedatum</h4>
            <p>26 juli 1976</p>
            <h4>Beroep</h4>
            <p>Cosmodroom Kattevennen</p>
            <h4>Partner</h4>
            <p>Gerry Koniuszenko</p>
            <h4>Kinderen</h4>
            <p>Nynke Koniuszenko 28 oktober 2003</p>
            <p>Andert Koniuszenko 13 januari 2006 </p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-7">
            <img src="/Images/Familie/Hans.jpg" class="img-responsive">
        </div>
        <div class="col-md-3 col-sm-3 col-xs-7">
            <h3>Hans Van Robays</h3>
            <h4>Geboortedatum</h4>
            <p>16 december 1977</p>
            <h4>Beroep</h4>
            <p>Kelner Golf-Hotel Stiemerheide</p>
        </div>
    </div>
    <a name="Mattias">
    </a>
    <a name="Nele">
    </a>
    <hr />
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-7">
            <img src="~/Images/Familie/Mattias.jpg" class="img-responsive">
        </div>
        <div class="col-md-3 col-sm-3 col-xs-7">
            <h3>Mattias Van Robays</h3>
            <h4>Geboortedatum</h4>
            <p>20 april 1979</p>
            <h4>Beroep</h4>
            <p>Leerkracht middelbaar onderwijs</p>
            <h4>Partner</h4>
            <p>Marije Bijnens</p>
            <h4>Kinderen</h4>
            <p>Kaat Van Robays 9 juli 2010</p>
            <p>Loes Van Robays 2 april 2012</p>
            <p>Fien Van Robays 12 oktober 2016 </p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-7">
            <img src="~/Images/Familie/Nele.jpg" class="img-responsive">
        </div>
        <div class="col-md-3 col-sm-3 col-xs-7">
            <h3>Nele Van Robays</h3>
            <h4>Geboortedatum</h4>
            <p>18 December 1980</p>
            <h4>Beroep</h4>
            <p>Leerkracht avondonderwijs</p>
            <h4>Partner</h4>
            <p>Bruno Du Bois</p>
            <h4>Kinderen</h4>
            <p>Renske Du Bois 14 april 2008</p>
        </div>
    </div>
    <a name="Ine">
    </a>
    <a name="Lies">
    </a>
    <hr />
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-7">
            <img src="~/Images/Familie/Ine.jpg" class="img-responsive">
        </div>
        <div class="col-md-3 col-sm-3 col-xs-7">
            <h3>Ine Van Robays</h3>
            <h4>Geboortedatum</h4>
            <p>16 februari 1983</p>
            <h4>Beroep</h4>
            <p>Econoom Europese Centrale Bank</p>
            <h4>Partner</h4>
            <p>Martin Naucke</p>
            <h4>Kinderen</h4>
            <p>Klaas Naucke 02 mei 2016</p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-7">
            <img src="~/Images/Familie/Lies.jpg" class="img-responsive">
        </div>
        <div class="col-md-3 col-sm-3 col-xs-7">
            <h3>Lies Van Robays</h3>
            <h4>Geboortedatum</h4>
            <p>21 januari 1985</p>
            <h4>Beroep</h4>
            <p>Psycholoog</p>
            <h4>Partner</h4>
            <p>Pieter-Jan Bollen</p>
            <h4>Kinderen</h4>
            <p>Jonathan Bollen 26 april 2016</p>
        </div>
    </div>
    <a name="Griet">
    </a>
    <a name="Sanne">
    </a>
    <hr />
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-7">
            <img src="~/Images/Familie/Griet.jpg" class="img-responsive">
        </div>
        <div class="col-md-3 col-sm-3 col-xs-7">
            <h3>Griet Van Robays</h3>
            <h4>Geboortedatum</h4>
            <p>16 oktober 1986</p>
            <h4>Beroep</h4>
            <p>Opvoeder</p>
            <h4>Partner</h4>
            <p>Ben Goyens</p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-7">
            <img src="~/Images/Familie/Sanne.jpg" class="img-responsive" />
        </div>
        <div class="col-md-3 col-sm-3 col-xs-7">
            <h3>Sanne Van Robays</h3>
            <h4>Geboortedatum</h4>
            <p>19 december 1987</p>
            <h4>Beroep</h4>
            <p>Costume Designer</p>
            <h4>Partner</h4>
            <p>Marc Louis Van Deun</p>
        </div>
    </div>
    <a name="Gijs">
    </a>
    <a name="Daan">
    </a>
    <hr />
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-7">
            <img src="~/Images/Familie/Gijs.jpg" class="img-responsive">
        </div>
        <div class="col-md-3 col-sm-3 col-xs-7">
            <h3>Gijs Van Robays</h3>
            <h4>Geboortedatum</h4>
            <p>29 september 1989</p>
            <h4>Beroep</h4>
            <p>Technisch tekenaar</p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-7">
            <img src="~/Images/Familie/Daan.jpg" class="img-responsive">
        </div>
        <div class="col-md-3 col-sm-3 col-xs-7">
            <h3>Daan Van Robays</h3>
            <h4>Geboortedatum</h4>
            <p>19 februari 1992</p>
            <h4>Beroep</h4>
            <p>Consultant UniPartners</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="page-header">Interview Flair</h3>
            <img data-original="/Images/Familie/0002.jpg" alt="Flair Artikel" class="img-responsive lazy" width="2000" height="2600" />
        </div>
    </div>
</div>
