@{
    ViewBag.Title = "Bouw klavecimbel";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Bouw klavecimbel
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("Muzikant", "Index", "Muzikant")
                </li>
                <li class="active">Bouw klavecimbel</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="klavecimbel" href="~/Images/Muzikant/Klavecimbel/klavecimbel bouw01.jpg">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Muzikant/Klavecimbel/klavecimbel bouw01.jpg" class="img-responsive articles-medium img-customer lazy" width="800" height="1200">
            </a>
            <a data-lightbox="klavecimbel" href="~/Images/Muzikant/Klavecimbel/klavecimbel bouw14.jpg">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Muzikant/Klavecimbel/klavecimbel bouw14.jpg" class="img-responsive articles-medium img-customer lazy" width="800" height="1200">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="klavecimbel" href="/Images/Muzikant/Klavecimbel/klavecimbel bouw06.jpg">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Muzikant/Klavecimbel/klavecimbel bouw06.jpg" class="img-responsive articles-medium img-customer lazy" width="800" height="1200">
            </a>
            <a data-lightbox="klavecimbel" href="~/Images/Muzikant/Klavecimbel/klavecimbel bouw17.jpg">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Muzikant/Klavecimbel/klavecimbel bouw17.jpg" class="img-responsive articles-medium img-customer lazy" width="800" height="1200">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="klavecimbel" href="/Images/Muzikant/Klavecimbel/klavecimbel bouw08.jpg">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Muzikant/Klavecimbel/klavecimbel bouw08.jpg" class="img-responsive articles-medium img-customer lazy" width="800" height="1200">
            </a>
            <a data-lightbox="klavecimbel" href="~/Images/Muzikant/Klavecimbel/klavecimbel bouw19.jpg">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Muzikant/Klavecimbel/klavecimbel bouw19.jpg" class="img-responsive articles-medium img-customer lazy" width="800" height="1200">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="klavecimbel" href="~/Images/Muzikant/Klavecimbel/klavecimbel bouw09.jpg">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Muzikant/Klavecimbel/klavecimbel bouw09.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-xs-6">
            <a data-lightbox="klavecimbel" href="~/Images/Muzikant/Klavecimbel/klavecimbel bouw15.jpg">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Muzikant/Klavecimbel/klavecimbel bouw15.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
        <div class="col-sm-6 col-xs-6">
            <a data-lightbox="klavecimbel" href="~/Images/Muzikant/Klavecimbel/klavecimbel strik.jpg">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Muzikant/Klavecimbel/klavecimbel strik.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="klavecimbel" href="~/Images/Muzikant/Klavecimbel/folderfoto.jpg">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Muzikant/Klavecimbel/folderfoto.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="klavecimbel" href="~/Images/Muzikant/Klavecimbel/Aquarel 01.jpg">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Muzikant/Klavecimbel/Aquarel 01.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="klavecimbel" href="~/Images/Muzikant/Klavecimbel/Aquarel 02.jpg">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Muzikant/Klavecimbel/Aquarel 02.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="klavecimbel" href="~/Images/Muzikant/Klavecimbel/Aquarel 03.jpg">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Muzikant/Klavecimbel/Aquarel 03.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-xs-6">
            <a data-lightbox="klavecimbel" href="~/Images/Muzikant/Klavecimbel/Klavecimbel rood.jpg">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Muzikant/Klavecimbel/Klavecimbel rood.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
        <div class="col-sm-6 col-xs-6">
            <a data-lightbox="klavecimbel" href="~/Images/Muzikant/Klavecimbel/klavecimbel groen.jpg">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Muzikant/Klavecimbel/klavecimbel groen.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
    </div>
    <div class="row">
        <p>Uiteindelijk werd gekozen voor de groene kleur.</p>
    </div>
</div>