@{
    ViewBag.Title = "Folkgroep 1544";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Folkgroep 1544
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("Muzikant", "Index", "Muzikant")
                </li>
                <li class="active">Folkgroep 1544</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Schipperskwartier</h3>
            <iframe width="420" height="315" src="https://www.youtube.com/embed/rFQ2srT5rQE" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-6">
            <h3>De Drie Herderkens</h3>
            <iframe width="420" height="315" src="https://www.youtube.com/embed/Skx60697cSw" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <h3>De Fiere Margriet</h3>
            <iframe width="420" height="315" src="https://www.youtube.com/embed/YXk7f3xj-kc" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-6">
            <h3>Menuet</h3>
            <iframe width="420" height="315" src="https://www.youtube.com/embed/VX8S7s7BjKU" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <h3>Volte Bransle</h3>
            <iframe width="420" height="315" src="https://www.youtube.com/embed/8mMCzwtpMv4" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-6">
            <h3>Valsche Renata</h3>
            <iframe width="420" height="315" src="https://www.youtube.com/embed/zCAb6LQIklA" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>