
@{
    ViewBag.Title = "Restauratie Klavecimbel";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Restauratie klavecimbel
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("Muzikant", "Index", "Muzikant")
                </li>
                <li class="active">Restauratie klavecimbel</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-8">
            <a data-lightbox="klavecimbel" href="~/Images/Muzikant/Klavecimbel/Johan fecit.jpg">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Muzikant/Klavecimbel/Johan fecit.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
    </div>
    <div class="row">
        <h2>vòòr restauratie</h2>
        <div class="col-sm-6 col-xs-6">
            <a data-lightbox="klavecimbel" href="~/Images/Muzikant/Klavecimbel/er voor_clav 01.JPG">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Muzikant/Klavecimbel/er voor_clav 01-small.JPG" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
        <div class="col-sm-6 col-xs-6">
            <a data-lightbox="klavecimbel" href="~/Images/Muzikant/Klavecimbel/er voor_clav 02.JPG">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Muzikant/Klavecimbel/er voor_clav 02.JPG" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
    </div>
    <div class="row">
        <h2>na restauratie</h2>
        <div class="col-sm-6 col-xs-6">
            <a data-lightbox="klavecimbel" href="~/Images/Muzikant/Klavecimbel/na_clav 03.jpg">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Muzikant/Klavecimbel/na_clav 03-small.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
        <div class="col-sm-6 col-xs-6">
            <a data-lightbox="klavecimbel" href="~/Images/Muzikant/Klavecimbel/na_clav 04.jpg">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Muzikant/Klavecimbel/na_clav 04.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
    </div>
</div>
