@{
    ViewBag.Title = "Sixty Six";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Sixty Six
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("Muzikant", "Index", "Muzikant")
                </li>
                <li class="active">Sixty Six</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                De groep 'Sixty Six' speelde covers van o.a.: 
                The Mamas & The Papas, 
                The Monkees,
                David Garrick,
                The Beach Boys,
                Tommy James & The Shondells,
                Los Bravos,
                The Hollies,
                Gary Puckett & The Union Gap,
                Scott MacKenzie,
                Box Tops, ..
            </p>
            <p>Hieronder zijn enkele originele uitvoeringen.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Box Tops - The Letter (1967)</h3>
            <iframe width="420" height="315" src="https://www.youtube.com/embed/toBl4rvTgs8" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-6">
            <h3>Scott MacKenzie - San Francisco (1967)</h3>
            <iframe width="420" height="315" src="https://www.youtube.com/embed/bch1_Ep5M1s" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <h3>David Garrick - Dear Mrs Applebee (1966)</h3>
            <iframe width="420" height="315" src="https://www.youtube.com/embed/1v15AmbPrSM" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-6">
            <h3>The Monkees - I'm a Believer</h3>
            <iframe width="420" height="315" src="https://www.youtube.com/embed/2EqneoPcjwU" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <h3>The Moody Blues - Nights In White Satin</h3>
            <iframe width="420" height="315" src="https://www.youtube.com/embed/9muzyOd4Lh8" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-6">
            <h3>Gary Puckett & The Union Gap - Young Girl</h3>
            <iframe width="420" height="315" src="https://www.youtube.com/embed/qJFVPxBpezk" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>