@{
    ViewBag.Title = "Carnavalstoet";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Carnavalstoet
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>@Html.ActionLink("Carnaval", "Index", "Carnaval")</li>
                <li class="active">Carnavalstoet</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Carnavalstoet" href="/Images/Carnaval/Stoet/JANTJES_2015_TVG_0011.jpg">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Carnaval/Stoet/JANTJES_2015_TVG_0011.jpg" class="img-responsive img-customer lazy" width="800" height="1200" />
            </a>
            <a data-lightbox="Carnavalstoet" href="/Images/Carnaval/Stoet/JANTJES_STOET_14022015_SEL_0080.jpg">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Carnaval/Stoet/JANTJES_STOET_14022015_SEL_0080.jpg" class="img-responsive img-customer lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Carnavalstoet" href="/Images/Carnaval/Stoet/JANTJES_STOET_14022015_SEL_0005.jpg">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Carnaval/Stoet/JANTJES_STOET_14022015_SEL_0005.jpg" class="img-responsive img-customer lazy" width="800" height="1200" />
            </a>
            <a data-lightbox="Carnavalstoet" href="/Images/Carnaval/Stoet/JANTJES_STOET_14022015_SEL_0085.jpg">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Carnaval/Stoet/JANTJES_STOET_14022015_SEL_0085.jpg" class="img-responsive img-customer lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Carnavalstoet" href="/Images/Carnaval/Stoet/JANTJES_STOET_14022015_SEL_0027.jpg">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Carnaval/Stoet/JANTJES_STOET_14022015_SEL_0027.jpg" class="img-responsive img-customer lazy" width="800" height="1200" />
            </a>
            <a data-lightbox="Carnavalstoet" href="/Images/Carnaval/Stoet/JANTJES_STOET_14022015_SEL_0135.jpg">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Carnaval/Stoet/JANTJES_STOET_14022015_SEL_0135.jpg" class="img-responsive img-customer lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Carnavalstoet" href="/Images/Carnaval/Stoet/JANTJES_STOET_14022015_SEL_0054.jpg">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Carnaval/Stoet/JANTJES_STOET_14022015_SEL_0054.jpg" class="img-responsive img-customer lazy" width="800" height="1200" />
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Carnavalstoet" href="/Images/Carnaval/Stoet/JANTJES_STOET_14022015_SEL_0129.jpg">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Carnaval/Stoet/JANTJES_STOET_14022015_SEL_0129.jpg" class="img-responsive img-customer lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Carnavalstoet" href="/Images/Carnaval/Stoet/JANTJES_STOET_14022015_SEL_0255.jpg">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Carnaval/Stoet/JANTJES_STOET_14022015_SEL_0255.jpg" class="img-responsive img-customer lazy" width="800" height="1200" />
            </a>
            <a data-lightbox="Carnavalstoet" href="/Images/Carnaval/Stoet/JANTJES_STOET_14022015_SEL_0307.jpg">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Carnaval/Stoet/JANTJES_STOET_14022015_SEL_0307.jpg" class="img-responsive img-customer lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Carnavalstoet" href="/Images/Carnaval/Stoet/JANTJES_STOET_14022015_SEL_0101.jpg">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Carnaval/Stoet/JANTJES_STOET_14022015_SEL_0101.jpg" class="img-responsive img-customer lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Carnavalstoet" href="/Images/Carnaval/Stoet/JANTJES_STOET_14022015_SEL_0290.jpg">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Carnaval/Stoet/JANTJES_STOET_14022015_SEL_0290.jpg" class="img-responsive img-customer lazy" width="800" height="1200" />
            </a>
            <a data-lightbox="Carnavalstoet" href="/Images/Carnaval/Stoet/trio met burgemeester wim dries.jpg">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Carnaval/Stoet/trio met burgemeester wim dries.jpg" class="img-responsive img-customer lazy" width="800" height="1200" />
            </a>
        </div>
    </div>
</div>