@{
    ViewBag.Title = "Fotosessie thuis";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Fotosessie thuis
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>@Html.ActionLink("Carnaval", "Index", "Carnaval")</li>
                <li class="active">Fotosessie thuis</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Fotosessie thuis" href="/Images/Carnaval/Thuis/JVR_TVG_043.jpg">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Carnaval/Thuis/JVR_TVG_043.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Fotosessie thuis" href="/Images/Carnaval/Thuis/JVR_TVG_047.jpg">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Carnaval/Thuis/JVR_TVG_047.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Fotosessie thuis" href="/Images/Carnaval/Thuis/JVR_TVG_022.jpg">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Carnaval/Thuis/JVR_TVG_022.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Fotosessie thuis" href="/Images/Carnaval/Thuis/JVR_TVG_014.jpg">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Carnaval/Thuis/JVR_TVG_014.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Fotosessie thuis" href="/Images/Carnaval/Thuis/trio03.jpg">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Carnaval/Thuis/trio03.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
            <a data-lightbox="Fotosessie thuis" href="/Images/Carnaval/Thuis/trio01.jpg">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Carnaval/Thuis/trio01.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Fotosessie thuis" href="/Images/Carnaval/Thuis/JVR_TVG_001.jpg">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Carnaval/Thuis/JVR_TVG_001.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
            <a data-lightbox="Fotosessie thuis" href="/Images/Carnaval/Thuis/Kapper15.jpg">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Carnaval/Thuis/Kapper15.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Fotosessie thuis" href="/Images/Carnaval/Thuis/Kapper09.jpg">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Carnaval/Thuis/Kapper09.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Fotosessie thuis" href="/Images/Carnaval/Thuis/Kapper11.jpg">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Carnaval/Thuis/Kapper11.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
    </div>
</div>