@{
    ViewBag.Title = "Prins carnaval Johan I";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Prins carnaval Johan I
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Carnaval</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <a href="@Url.Action("FotosessieThuis","Carnaval")">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Carnaval/Carnaval fotosessie thuis.jpg" class="img-responsive lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-md-7">
            <h3>Fotosessie thuis</h3>
            <a href="@Url.Action("FotosessieThuis", "Carnaval")" class="btn btn-primary">Bekijk album <i class="fa fa-angle-right"></i></a>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-5">
            <a href="@Url.Action("Carnavalstoet", "Carnaval")">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Carnaval/Carnavalstoet 2015.jpg" class="img-responsive lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-md-7">
            <h3>Carnavalstoet</h3>
            <a href="@Url.Action("Carnavalstoet", "Carnaval")" class="btn btn-primary">Bekijk album <i class="fa fa-angle-right"></i></a>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-md-5">
            <a href="@Url.Action("Rusthuis", "Carnaval")">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Carnaval/Carnaval rusthuizen.jpg" class="img-responsive lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-md-7">
            <h3>Rusthuis bezoek</h3>
            <a href="@Url.Action("Rusthuis", "Carnaval")" class="btn btn-primary">Bekijk album <i class="fa fa-angle-right"></i></a>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/j-j3oOdnFzE" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-7">
            <h3>Ach Natascha !</h3>
            <p>
                Sinds 50 jaar bestaat er in het ZOL een carnavalsgroep: de Vrolijke Jantjes. Ieder jaar wordt een nieuwe prins gekozen en in 2015 viel de eer aan patholoog en Vesalius imitator Johan Van Robays. Een van de vele voorrechten van een nieuwe Prins is dat hij twee hofdames mag uitkiezen, wat Prins Johan I zich geen twee keer liet zeggen. Hij stuurde onmiddellijk een e-mailtje naar een van de vrolijkste meisjes uit het ZOL, Anouck Royen. En alsof haar uitverkiezing al langer in de sterren geschreven stond, liep hij haar, nog voor ze het e-mailtje gelezen had, tegen het lijf op de gang. Ze zei onmiddellijk ja en stond te springen van vreugde.
            </p>
            <a href="@Url.Action("Natascha", "Carnaval")">LEES MEER</a>
        </div>
    </div>
</div>