@{
    ViewBag.Title = "Ach Natascha !";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Ach Natascha !
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("Carnaval", "Index", "Carnaval")
                </li>
                <li class="active">Ach Natascha !</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <p>
                Sinds 50 jaar bestaat er in het ZOL een carnavalsgroep: de Vrolijke Jantjes. Ieder jaar wordt een nieuwe prins gekozen en in 2015 viel de eer aan patholoog en Vesalius imitator Johan Van Robays. Een van de vele voorrechten van een nieuwe Prins is dat hij twee hofdames mag uitkiezen, wat Prins Johan I zich geen twee keer liet zeggen. Hij stuurde onmiddellijk een e-mailtje naar een van de vrolijkste meisjes uit het ZOL, Anouck Royen. En alsof haar uitverkiezing al langer in de sterren geschreven stond, liep hij haar, nog voor ze het e-mailtje gelezen had, tegen het lijf op de gang. Ze zei onmiddellijk ja en stond te springen van vreugde.
            </p>
            <p>
                Nog voor Prins Johan I de tijd had om een tweede e-mailtje rond te sturen, had Anouck al een tweede hofdame gevonden. Het was haar vriendin Natascha. De prins kende haar van haar noch van pluimen maar die naam alleen al ….! In zijn achterhoofd weerklonk het ‘Ach Natascha, ach Natascha … was hast du mit mir gemacht?’ van Ivan Rebroff.
            </p>
            <p>
                Tijdens de traditionele speech op het Prinsenbal stelde de nieuwe prins zijn twee jonge hofdames voor. Anouck introduceerde hij voor met een filmpje waarin ze met halsbrekende toeren en achterwaartse salto’s haar kunsten toont  als acrobatisch turnster en af en toe spagaat gaat. Bij de voorstelling van Natascha vond de prins er niets beter op dan een soort karaoke te doen op het lied van Ivan Rebroff. Van het ‘Ach Natascha, ach Natascha …’ tot en met de knieval op het ’Ich liebe dich!’. Geslaagd optreden, groot applaus, maar wat de prins niet wist was dat hij met die opzwepende muziek de fluit uit haar stoomketel getrokken had. Tijdens het jureren van de diverse groepen om daaruit de best verkleedde met een prijs te belonen, zaten de prins en zijn hofdames midden op het podium achter een door Fons getimmerde toog. Op een onverwacht moment trok Natascha haar rokken op en wapperde ermee: ‘’t is heet onder mijn kleed’.
            </p>
            <p>
                De prins keek schalks naar wat daar zo heet was onder haar kleed en dacht: verdorie, mijn hofdame kan rijmen en dichten zonder haar gat op te lichten. Dat het geen toevalsrijm was bewees ze tijdens het protocollair overhandigen van medailles tussen de verschillende carnavalsverenigingen. Toen haar diep uitgesneden decolleté, waar ze bij de styliste om gevraagd had, medaille na medaille alsmaar méér aan het oog onttrokken werd, dichtte ze: ‘Nu zitten mijn […] onder die amuletten!’.
            </p>
            <p>
                Prins Johan I, die Goethe, Schiller en andere grote dichters gelezen had, gaf haar rondborstig gelijk. Niets gaat immers boven de natuurlijke schoonheid die Moeder Natuur ons gegeven heeft. En als Zij op bepaalde plaatsen bijzonder gul geweest is, moet dat niet verscholen blijven. Zeker niet bedolven onder 20 blingbling medailles à 6 euro het stuk. Terwijl Prins Johan I naar een romantisch weerwoord zocht om haar […] te prijzen was ze hem een slag voor: ‘Oh Prins, ik ben een eroticabeurs op mijn eentje’.
            </p>
            <p>
                Prins Johan I, die ook Kant, Nietzsche en andere grote filosofen gelezen had, schreef deze recht-voor-de-raap oneliner toe aan een soort dierlijk instinct dat bij zijn hofdame nog niet helemaal verknoeid was door de rede.
            </p>
            <h3>
                Carnavalstoet 2015
            </h3>
            <p>
                Op 14 februari stonden Prins Johan I, zijn twee hofdames, en nog enkele hooggeplaatste Vrolijke Jantjes boven op de praalwagen snoep uit te gooien. Ondanks alle waarschuwingen van de Hof-Maarschalk, de Vorst, twee leden van de Raad van Elf en Prins Johan I, om niet alles in één keer uit te gooien maar rustig te beginnen en geleidelijk op te bouwen, was Natascha niet te houden. Al in de eerste bocht, er stonden amper mensen, graaide ze met volle handen in de grote bak karamellen, wafels en chips, en gooide een groot deel van de voorraad op de hoofden van die pakweg vier mensen.
            </p>
            <p>
                ‘Wow, wooww, we zitten in de flooww’.
            </p>
            <p>
                ‘Hola Natascha, niet te fel, bezin je wel!’ Tja van pure miserie begon de prins ook te dichten.
            </p>
            <p>
                Maar toen Natascha nog geestdriftiger begon te gooien –nee, te smijten- en Prins Johan in de tweede bocht de voorraad karamellen zienderogen zag smelten, greep hij haar rechterhand vast. Maar toen begon ze links te smijten. Omdat Prins Johan I het boek Fifty Shades of Grey nog niet gelezen had om te weten hoe je een vrouw met beide handen moet vastbinden, keek hij de andere kant op om het allemaal niet meer te moeten zien. Daar stond Anouck met een nog volle bak lekkers voor de kinderen die in stad met open armen het snoepgoed zouden ontvangen. Maar ook deze sprankel hoop vervloog snel. De tentakels van Natascha graaiden al de opgespaarde voorraad van Anouck richting haar kant toe.
            </p>
            <p>
                De enige remedie om halverwege de stoet niet zonder snoep te vallen was dat Anouck, de Hof-Maarschalk, de Vorst, twee leden van de Raad van Elf en Prins Johan, zich zouden inhouden en slechts af en toe eens (om de drie minuten) 1 karamel, 1 zakje chips of 1 sponsje (er waren er groene in de vorm van een vlinder en roze in de vorm van een vis) uit te gooien.
            </p>
            <p>
                Boven op de praalwagen stonden, voor Natascha aanvankelijk verscholen, ook drie zakken voetballen maar toen ze die in de gaten kreeg was ze niet te houden. Hoe Prins Johan ook zijn best deed om die ballen achter zijn rug, tussen zijn benen of nog op heimelijker plekken te verstoppen, Natascha vond ze en smeet ermee.
            </p>
            <p>
                Even kwam er een einde aan dit ellendig smijtgedrag toen het liedje ‘Kontebonken’ van de Alpenzusjes uit de boxen weerklonk. Op dit liedje had Prins Johan op het carnavalbal al met die zusjes ‘gekontebonkt’ en groot succes geoogst. Waarschijnlijk had hij daarmee Natascha jaloers gemaakt want hoog op de praalwagen (en volledig onttrokken aan het oog van het publiek beneden), haalde ze ruimschoots haar schade in. Terwijl ze met Prins Johan I en Anouck driftig aan te kontebonken sloeg, zagen de Hof-Maarschalk, de Vorst en twee leden van de Raad van Elf, eindelijk hun kans schoon om drie minuten lang weer lekker royaal met karamellen, wafels en chips te gooien.
            </p>
            <p>
                Een geluk dat de Vrolijke Jantjes een grote voorraad ingeslagen hadden. Aan de meet, waar de burgemeester en heel zijn gevolg stonden, waren nog 10 karamellen, 3 wafeltjes, 2 zakjes chips en 1 bal over. De sponsjes waren helemaal op alhoewel Prins Johan er eentje van het morbide smijtgedrag van Natascha had weten te redden. Hij had het roze visje achter zijn buikband geklemd. Als souvenir. Tot ze die in het oog kreeg.
            </p>
            <p>
                ‘Ola, die vis van u ziet niet meer zo fris!’
            </p>
            <p>
                En weg was die.
            </p>
        </div>
    </div>
</div>