@{
    ViewBag.Title = "Rusthuis";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Rusthuis
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>@Html.ActionLink("Carnaval", "Index", "Carnaval")</li>
                <li class="active">Rusthuis</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Rusthuis" href="/Images/Carnaval/Rusthuis/DSC_0022.JPG">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Carnaval/Rusthuis/DSC_0022.JPG" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
            <a data-lightbox="Rusthuis" href="/Images/Carnaval/Rusthuis/DSC_0060.JPG">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Carnaval/Rusthuis/DSC_0060.JPG" class="img-responsive img-customer lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Rusthuis" href="/Images/Carnaval/Rusthuis/DSC_0023.JPG">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Carnaval/Rusthuis/DSC_0023.JPG" class="img-responsive img-customer lazy" width="800" height="1200" />
            </a>
            <a data-lightbox="Rusthuis" href="/Images/Carnaval/Rusthuis/DSC_0068.JPG">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Carnaval/Rusthuis/DSC_0068.JPG" class="img-responsive img-customer lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Rusthuis" href="/Images/Carnaval/Rusthuis/DSC_0026.JPG">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Carnaval/Rusthuis/DSC_0026.JPG" class="img-responsive img-customer lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Rusthuis" href="/Images/Carnaval/Rusthuis/DSC_0045.JPG">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Carnaval/Rusthuis/DSC_0045.JPG" class="img-responsive img-customer lazy" width="800" height="1200" />
            </a>
            <a data-lightbox="Rusthuis" href="/Images/Carnaval/Rusthuis/rusthuizen3.jpg">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Carnaval/Rusthuis/rusthuizen3.jpg" class="img-responsive img-customer lazy" width="800" height="1200" />
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Rusthuis" href="/Images/Carnaval/Rusthuis/DSC_0116.JPG">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Carnaval/Rusthuis/DSC_0116.JPG" class="img-responsive img-customer lazy" width="800" height="1200" />
            </a>
            <a data-lightbox="Rusthuis" href="/Images/Carnaval/Rusthuis/rusthuizen1.jpg">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Carnaval/Rusthuis/rusthuizen1.jpg" class="img-responsive img-customer lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Rusthuis" href="/Images/Carnaval/Rusthuis/DSC_0058.JPG">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Carnaval/Rusthuis/DSC_0058.JPG" class="img-responsive img-customer lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Rusthuis" href="/Images/Carnaval/Rusthuis/DSC_0114.JPG">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Carnaval/Rusthuis/DSC_0114.JPG" class="img-responsive img-customer lazy" width="800" height="1200" />
            </a>
            <a data-lightbox="Rusthuis" href="/Images/Carnaval/Rusthuis/rusthuizen2.jpg">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Carnaval/Rusthuis/rusthuizen2.jpg" class="img-responsive img-customer lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Rusthuis" href="/Images/Carnaval/Rusthuis/DSC_0081.JPG">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Carnaval/Rusthuis/DSC_0081.JPG" class="img-responsive img-customer lazy" width="800" height="1200" />
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <a data-lightbox="Rusthuis" href="/Images/Carnaval/Rusthuis/DSC_0086.JPG">
                <img src="http://i.imgur.com/yDqBi9N.gif" data-original="/Images/Carnaval/Rusthuis/DSC_0086.JPG" class="img-responsive img-customer lazy" width="2000" height="2600" />
            </a>
        </div>
    </div>
</div>