@{
    ViewBag.Title = "Proloog";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Een onfortuinlijke geboorte
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("Fritz de foetus", "Index", "Fritz")
                </li>
                <li class="active">Hoofdstuk 1</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <p>
                De geboorte van een baby is meestal een heuglijke gebeurtenis in een mensenleven, maar op 8 juni 1866 beviel Adelphine Friedhoff van een doodgeboren vrucht. Het was al haar derde miskraam op rij en ze was de wanhoop nabij. ‘Wat moeten we doen, Paul Julius?’
            </p>
            <p>
                Lang nadenken hoefde haar echtgenoot niet: ‘Een autopsie.’
            </p>
            <p>
                ‘Godallemachtig Jezus Maria Jozef … een …?’
            </p>
            <p>
                ‘Ja een autopsie, Adelphine. Dit keer wil ik echt weten wat er aan de hand is.’
            </p>
            <p>
                Paul Julius Friedhoff, patholoog-anatoom aan het Mariënkrankenhaus van München, wikkelde zijn doodgeboren zoon in doeken en stak hem in zijn dokterstas. Hij wenkte koetsier Franz en dokkerde diep in de nacht in een striemende regen en onder het gele licht van lantaarns naar het ziekenhuis. In zijn dissectiekamer, die hij naar zijn idool Andreas Vesalius Theatrum Anatomicum genoemd had, vlamde dokter P.J. Friedhoff vier kaarsen aan en plaatste zijn vlijm op de wetsteen. Hij sneed de moederkoek en de navelstreng in repen maar vond geen enkele afwijking. Een grondige uitwendige inspectie van zijn zoon toonde eveneens geen bijzonderheden. Tenzij misschien een zekere scheefstand van de mondhoeken. Ze stonden in een grijnslach.
            </p>
            <p>
                Vooraleer zijn zoon met het vlijmscherpe mes in één trek van keel tot piemel open te snijden, nam patholoog P.J. Friedhoff pen en papier en schetste een voor- en zijaanzicht. Daarna sneed hij voorzichtig de borstkast open. De longen en het hart vertoonden geen enkele afwijking. Ook in de buikholte lag alles mooi geordend, zoals Vesalius het zijn anatomieboek beschreven had. Met een klein schaartje knipte hij vervolgens het schedelbeen open via de weke fontanellen en bekeek aandachtig de schedelinhoud. De hersenwindingen zagen er voor een foetus van 22 weken voortreffelijk ontwikkeld uit. Met nog kleiner gerief peuterde hij verder in de grijze stof en maakte talloze schetsen. Onnoemelijk precies legde patholoog P.J. Friedhoff het netwerk van de 12 hersenzenuwen bloot. Drie uur later vond hij wat hij zocht: de doodsoorzaak
            </p>
            <p>
                Met fijn zilvergaren naaide dokter Friedhoff nadien de schedelhuid en het buikvel dicht en eindigde vlak boven de nog haarloze piemel met een mooi strikje. Onder de flakkerende gloed van de kaarsen, nam hij uit zijn bibliotheek enkele dikke boeken. Hij bladerde er lange tijd in maar vond nergens een beschrijving van de eigenaardige afwijking die hij zonet bij zijn eigen zoon gezien had.
            </p>
            <p>
                ‘In naam van de meest wonderlijke anatomische curiosa die ik ooit gezien heb,’ mompelde vader Friedhoff binnensmonds, ‘doop ik je Fritz’. Na deze afscheidswoorden wilde hij zijn dichtgenaaide zoon voor eeuwig begraven, maar toen flitste het door zijn geest dat je zo’n uniek artefact niet in de doofpot moest stoppen. Uit pure vaderliefde nam hij de mooiste bokaal die hij bezat en plaatste zijn zoon op hoogwaardig gedestilleerde alcohol 94°. Daarna dipte hij zijn ganzenveer in de inktpot en pende in schoonschrift zijn autoptische bevindingen neer.
            </p>
            <p>
                Een maand later verscheen het autopsieverslag in het ‘Münchischer Medizinischer Wochenschrift’ jaargang 1866, nummer 35, pagina 91, met als ondertitel: ‘Über angeborene doppelseitige Abducens-Facialis-Laemung.’ Vrij vertaald had Fritz een dubbelzijdige verlamming van de gelaatspieren, veroorzaakt door enkele kapotte hersenzenuwen. ‘Aan dit star masker en grijnslach,’ besloot P. J. Friedhoff zijn artikel, ‘moet elke arts straks een gelijkaardig geval herkennen.’
            </p>
            <p>
                Na de publicatie waaiden er vanuit diverse wetenschappelijke windstreken felicitaties in zijn brievenbus binnen. Iedereen prees patholoog P. J. Friedhoff om de uiterste precisie waarmee hij zijn zoon verknipt had, en ook om zijn ongemeen mooie schetsen die hij bij kaarslicht gemaakt had. Het artikel kwam een zekere professor Wilhelm His uit Leipzig ter ore, die de ontdekking graag wilde opnemen in de nieuwe editie van zijn standaardwerk over congenitale en embryonale afwijkingen. Naar loffelijke medische gewoonte gaf professor His de afwijking de naam van de man die het voor het eerst beschreven had. Zo werd Fritz een syndroom: ‘Het syndroom van Friedhoff’.
            </p>
            <a href="@Url.Action("Hoofdstuk2", "Fritz")"><h3>Verder naar Hoofdstuk 2</h3></a>
        </div>
        <div class="col-md-5">
            <a href="~/Images/Fritz/f1.jpg" data-lightbox="hoofdstuk1">
                <img src="~/Images/Fritz/f1.jpg" class="img-responsive center-block" />
            </a>
            <br />
            <br />
            <br />
            <a href="~/Images/Fritz/f2.jpg" data-lightbox="hoofdstuk1">
                <img src="~/Images/Fritz/f2.jpg" class="img-responsive center-block" />
            </a>
            <p>(tekeningen: Jitse Lemmens)</p>
        </div>
    </div>
</div>