@{
    ViewBag.Title = "Proloog";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Congres Wenen 1866
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("Fritz de foetus", "Index", "Fritz")
                </li>
                <li class="active">Hoofdstuk 3</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <p>
                Onder het spandoek Internationaal Medisch Congres 1866 stapte dokter Friedhoff de trappen van het imposante congressenpaleis op. In zijn dokterstas stak, gescheiden van speech, zijn zoon Fritz. Het auditorium zat afgeladen vol mannen met bolle baarden en kleine knijpbrilletjes die het licht reflecteerden. Als gastheer verwelkomde Professor Zuckerkandl de vele binnen- en buitenlandse gasten en sprak de hoop uit dat het een vruchtbare samenkomst zou wezen.            
            </p>
            <p>
                Op het woord vruchtbaar  inspelend gaf de eerste spreker, professor Fucus, een uiteenzetting over de voortplanting van het blaaswier. Stomende seks viel er in dat koudwater biotoop niet te beleven zodat iedere aanwezige alras met een zakdoek de glazen van zijn knijpbrilletje zat schoon te wrijven.
            </p>
            <p>
                Na een slap handengeklap klom dokter Friedhoff in het spreekgestoelte en bedankte het inrichtende comité hartelijk voor de gelegenheid die hem geboden werd om zijn pas ontdekte syndroom de nodige wetenschappelijke aandacht te geven. Na het kort en boeiend relaas van de autopsie diepte P.J. Friedhoff de kristallen weckpot uit zijn dokterstas en stak Fritz met zijn rechter hand hoog in de lucht. ‘Ziehier het levende bewijs van mijn ontdekking. Mijn zoon. Het syndroom van Friedhoff.’
            </p>
            <p>
                Een daverend applaus deed de aula op zijn grondvesten daveren.
            </p>
            <p>
                De laatste spreker op de ochtendsessie was professor Theodorus Schwanz, een autoriteit op het gebied van de vetzuurcyclus. Bij elk woord waar vet in stak, boorde hij zijn plankmagere wijsvinger in de lucht om alles wat naar vet oogde, smaakte of rook, de hel in te branden. ‘Het is hemeltergend hoe iedereen zich dagelijks de darmen volpropt met gebraad, gelardeerd spek en oversized worsten. En die caloriebom onverzadigbare vetzuren doorspoelt met liters bier of wijn. Alsof er geen alternatieven bestaan!’ ging het vingertje opnieuw de lucht in. ‘Alternatieven zoals sla, groenten en fruit en het thermale water van Baden-Baden, dat zo rijk is aan mineralen.’
            </p>
            <p>
                Ondertussen was de aula zowat halfleeg gelopen en drumden hongerige professoren aan de lange en rijk gedekte tafels van het refectorium. Een stoet obers kwam met zwaarbeladen schalen dampend hertenkalf en kartoffelpuree de eetzaal binnen. Bij wijze van aperitief ging menig glas de hoogte in. ‘Prosit, collega.’
            </p>
            <p>
                ‘Prosit, Gemütlichkeit!’
            </p>
            <p>
                ‘Zo’n plak ganzenlever spoelt zich graag door met een fruitige Sancerre.’
            </p>
            <p>
                ‘Méér wijn hier, ober.’
            </p>
            <p>
                ‘Ja, die mag er best zijn. Alle lof voor het oenologisch comité.’
            </p>
            <p>
                ‘Bij die lap Wiener Schnitzel mochten wel wat meer Kartoffelen!’
            </p>
            <p>
                ‘Ik verhang me voor die paddenstoelensaus. Oh! Proef die roomboter!’.
            </p>
            <p>
                ‘Daar gaat onze vetzuurcyclus!!’
            </p>
            <p>
                Iets verder aan de tafel schoof een professor zijn bord opzij en duwde zijn binocle hoger op de neus. Hij monsterde Fritz’ weckpot aandachtig en plakte de top van zijn neus tegen het glas. ‘Die grijns zit er werkelijk in gebakken.’
            </p>
            <p>
                Gaandeweg raakte het taalgebruik meer en meer doorspekt met culinaire woorden.
            </p>
            <p>
                Een andere prof likte zijn vingers af. ‘Mag ik mijn ogen ook eens de kost geven?’
            </p>
            <p>
                ‘Met genoegen!’, schoof de collega het syndroom van Friedhoff door.
            </p>
            <p>
                ‘O! zie die kleine garnaalvingertjes eens, zijn ze niet om van te peuzelen?’
            </p>
            <p>
                Na het hoofdgerecht sneden de obers diverse Sachertorten aan stukken. ‘Geeft u mij dat syndroom ook eens door, collega?’
            </p>
            <p>
                ‘Pas op, het glas zit al een beetje onder de chocola.’
            </p>
            <p>
                ‘O! zie dat knopje op het deksel. Puur bergkristal. Werkelijk de kers op de taart!’
            </p>
            <p>
                Van professor tot professor ging Fritz’ weckpot de tafel rond en belandde tenslotte bij een man met een woest uit de neus slaande knevel en navenant tirannieke blik. ‘Puik speurwerk, beste collega Friedhoff. Als ik me even mag voorstellen, Amatus Rigor, anatoom aan het Vesaliusinstituut in Leuven. Mijn allergrootste complimenten met uw ontdekking. Mag ik U straks een Havanna aanbieden in het rooksalon?’
            </p>
            <p>
                ‘Een Havanna sla ik nooit af, collega Rigor. Voor mij nog altijd het beste dessert.’
            </p>
            <p>
                ‘Ja, soms beter dan de maaltijd.’
            </p>
            <p>
                In de pluchen zetels van het rooksalon vlamde professor Rigor een Havanna aan en kwam meteen ter zake. ‘Uw syndroom is werkelijk enig’, pufte hij een rookwolk uit. ‘Ik verzamel artefacten. Vooral zeldzame. (Rookwolk) Uw prijs is de mijne.’
            </p>
            <p>
                Verrast door die ongehoorde vraag zoog dokter Friedhoff eerst traag een lange haal aan zijn sigaar en blies toen snel de rook uit: ‘Mijn zoon staat niet te koop.’
            </p>
            <p>
                ‘Dat is dan jammer, collega. Bedenk eens’, drong Professor Rigor aan, ‘hij is de eerst beschrevene met die afwijking. Een soort wiegendruk dus, als ik mij zo mag uitdrukken. Het zou het mooiste artefact zijn uit mijn collectie’
            </p>
            <p>
                ‘Nee, ik herhaal collega Rigor: mijn zoon staat niet te koop.’
            </p>
            <h3>Uit de mémoires van Fritz (*)</h3>
            <p>
                Ook al was mijn eerste optreden een grandioos succes, ik hield me gedeisd. Ik verbeet mijn grijns, volgens mijn vader het meest karakteristieke trekje van mijn syndroom. Tijdens de lunch ging mijn kristallen weckpot van hand tot hand. Ik werd gemonsterd, bepoteld, rondgedraaid en doorgegeven tot ik haast niet meer door mijn glazen wand kon kijken. Nadat mijn vader een woest uitziende man met enkele rookwolken afgewimpeld had, stopte hij me terug in de donkere tas. Hotsend en klotsend in de alcohol kwam ik uiteindelijk tot rust in een kleine kamer. Daar schrobde mijn vader mijn kristallen weckpot schoon, wat ik als een blijk van vaderliefde zag. Om hem te bedanken wou ik eruit springen en hem omhelzen, maar dat kon niet. Ik mocht mijn vader niet aan het schrikken brengen. Voor hem was ik dood. Dus hield ik mijn starre lippen op elkaar. In mijn meest karakteristieke uitdrukking, de grijns.
            </p>
            <p>
                's Avonds verliet mijn vader de kamer zodat ik daar helemaal alleen stond in een volstrekte duisternis. Maar niet voor lang. Plots vlamde er ergens een licht aan en zag ik plots twee wezens binnenkomen. Niet dat ik door mijn alcohol 94° beneveld was of dubbel zag of zo. Naast mijn vader herkende ik een nogal mager en springerig wezen dat hij onmiddellijk in zijn smal bed lokte om haar anatomie te bestuderen. Want mijn vader had een zwak voor anatomie. Hij kon er uren naar kijken. Die avond trok hij er zelfs zijn drieledig maatpak voor uit. Zo ontdekte ik twee belangrijke dingen. Enerzijds dat ik volkomen naar het beeld van mijn vader geschapen was. Anderzijds dat er ook een variatie bestond op de uitwendige verschijningsvorm mijn vader. En van mij.  Bij die variatie werd wat onderaan ontbrak, aan de bovenkant ruimschoots gecompenseerd. Voor zover ik het kon horen sprak hij van ‘borsten’ en vulde aan dat zij daardoor tot het Rijk der Zoogdieren behoorden.
            </p>
            <p>
                De volgende dag ontdekte ik nog méér. Toen mijn vader me meenam naar het Natuurhistorisch Museum van Wenen zag ik bontgekleurde wezens rondzwemmen in veel grotere weckpotten dan de mijne. Hij noemde ze aquaria. Het verwonderde me dat die wezens, die niet tot de zoogdieren behoorden, niet hoefden te doen alsof ze morsdood waren. Speels zwommen ze van links naar rechts of van rechts naar links. De reden van dat doelloos rondjes afleggen en baantjes zwemmen, ontging me echter. Op de afdeling Vogels en Reptielen (ook geen zoogdieren), was alles roerloos stil, zoals je het zou verwachten van gevederde of geschubde skeletten. Maar toch! Toen mijn vader even niet keek gaf een voorhistorisch reptiel met naamkaartje Leguaan me een schalks knipoogje en ik beantwoordde het stiekem. 
            </p>
            <p>
                Na het bezoek aan het Natuurhistorisch museum bezochten we nog het laboratorium van Professor Zuckerkandl. In dat dampend inferno van alambieken en reutelende retorten toonde Professor Zuckerkandl zijn allernieuwste kleurmethodes voor dode weefsels. Van de mysterieuze etiketten op de bruine flessen herinner ik me niets meer. Wel zijn laatste woorden: ‘Alles wat gekleurd kan worden, waarde collega Friedhoff, kan ook ontkleurd worden.’
            </p>
            <br />
            <p>
                (*) Fritz de Foet heeft zijn mémoires pas veel later geschreven, na de dood van zijn vader en na zijn talloze omzwervingen in België, Italië en Clonazië.
            </p>
        </div>
        <div class="col-md-5">
            <a href="~/Images/Fritz/congres Wenen.jpg" data-lightbox="hoofdstuk3">
                <img src="~/Images/Fritz/congres Wenen.jpg" class="img-responsive center-block" />
            </a>
            <br />
            <br />
            <br />
            <a href="~/Images/Fritz/Congres Wenen2.jpg" data-lightbox="hoofdstuk3">
                <img src="~/Images/Fritz/Congres Wenen2.jpg" class="img-responsive center-block" />
            </a>
            <p>(tekeningen: Jitse Lemmens)</p>
        </div>
    </div>
</div>