@{
    ViewBag.Title = "Proloog";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                De Oriënt Express
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("Fritz de foetus", "Index", "Fritz")
                </li>
                <li class="active">Hoofdstuk 2</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <p>
                Tussen de ontelbare brieven vol medeleven om de dood van zijn zoon en vol lof om de ontdekking van zijn syndroom ontving P.J. Friedhoff een uitnodiging van de hooggeleerde Weense professor Emile Zuckerkandl. Of het Zijn Edelachtbare Collega zou schikken diens onlangs ontdekte en zo mooi beschreven casus voor te stellen tijdens het jaarlijkse pathologencongres in Wenen. Zeer vereerd met die uitnodiging keek Paul Julius Friedhoff op geen Duitse Mark. Hij schafte zich een drieledig pak aan en reserveerde op de Oriënt Express een treinbiljet eerste klasse. Voor zijn zoon kocht hij een weckpot van het zuiverste bergkristal en tapte er vers gedestilleerde alcohol 94° in.
            </p>
            <p>
                Toen de zwartgeblakerde locomotief sissend en stomend het Münchener Bahnhoff verliet, en alras denderend over de rails raasde, nam vader Friedhoff de kristallen weckpot uit zijn dokterstas. Hij plaatste zijn zoon naast het rood lampenkapje dat de eerste klasse coupé in zo’n intieme, haast huiselijke sfeer dompelde. ‘Fritz jongen,’ sprak hij zijn zoon toe, ‘het wordt een wondere reis. Zonder jou zat ik hier niet, en zonder mij was jij er nooit geweest. Maar nu we hier zo onder ons tweetjes samen zijn, moet ik je … tja iets vertellen … ja, jouw moeder wou je eigenlijk in een kist steken en begraven maar ….’
            </p>
            <p>
                ‘Grüss Gott’ kwam op dit moment de kaartjesknipper binnen en zag een man in gesprek met een glazen weckpot. ‘… Oohhh! … Was ist dass …?’
            </p>
            <p>
                Dokter Friedhoff stak de kaartjesknipper het treinbiljet toe. ‘Euh, … mijn zoon.’
            </p>
            <p>
                ‘Ach so! … en heeft uw zoon een geldig vervoersdocument?’
            </p>
            <p>
                ‘U bedoelt?’
            </p>
            <p>
                ‘Of hij betaald heeft.’
            </p>
            <p>
                ‘Hoezo betaald? Mijn zoon moet toch niet …. Luister eens even beste man, hij is niet eens geboren. Ja, in zekere zin wel, maar … in elk geval niet levend.’
            </p>
            <p>
                In zijn volle Pruisische gestalte plaatste de kaartjesknipper zich wijdbeens voor dokter Friedhoff en sloeg zijn nachtzwarte wenkbrauwen op. ‘Als u me wil belazeren, Herr, bent u aan het verkeerde adres. Iedereen die met de Oriënt Express reist is een reiziger. En elke reiziger die met de Oriënt Express reist, betaalt. Is dat duidelijk? Of denkt u misschien een loopje te nemen met de Wetgevende Macht die hier in haar reglementaire uniform van Uitvoerende Instantie voor u staat?’
            </p>
            <p>
                Dokter Friedhoff moest even slikken maar liet zich niet uit zijn lood slaan: ‘Mijn zoon kan toch bezwaarlijk als reiziger beschouwd worden, beste meneer de kaartjesknipper? Zoals ik al zei is hij niet echt geboren en staat hij dus niet als dusdanig in het Rijksarchief genotuleerd. U moet hem eerder zien als … tja, als een anatomisch curiosum … of zo u wil, als een medisch monster. En een medisch monster is een staal zonder waarde. Moet een staal zonder waarde betalen?’
            </p>
            <p>
                De kaartjesknipper stak zijn kniptoestel in zijn zak en draaide tussen zijn duim en tweede vinger zijn snor in twee punten omhoog. ‘Misschien hebt u mij niet goed begrepen, Herr. Iedereen die er enigszins uitziet als een mens en met de Oriënt Express reist, betaalt. Trouwens, als dat kleine ding dat daar in die bokaal zit uw zoon is, en hij zogezegd dood is, waarom hebt u hem dan niet begraven?’
            </p>
            <p>
                ‘Tja, daar snijdt u een heikel punt aan, mijnheer de kaartjesknipper. En als Uitvoerende Instantie van de Wetgevende Macht zou ik het op prijs stellen dat u het niet verder zou vertellen aan mijn vrouw. Maar zo’n zeldzaam artefact kisten, zou een groot verlies betekenen voor de wetenschap.
            </p>
            <p>
                Want de toekomst van de geneeskunde ligt niet in de studie van gezonde mensen zoals u en ik. Ze ligt in het systematisch paleontologisch-pathologisch onderzoek van medische curiosa. Zoals mijn zoon.’
            </p>
            <p>
                ‘Verstanden, mein Herr’. Desalniettemin diepte hij uit zijn lederen tas een formulier van proces verbaal op: ‘Dat zijn dan 5 Duitse marken. Meteen te betalen.’
            </p>
            <p>
                ....
            </p>
            <p>
                Na de treinstop in Salzburg stapte een man met een joods sikje, binocle en visgraat mantelpak de coupe van dokter Friedhoff binnen. Amper zijn mantel aan de haak gehangen, zag hij de weckpot naast het lampenkapje staan. ‘Is dit uw mascotte?’
            </p>
            <p>
                ‘Hoezo mascotte? … Hoe komt u daarbij?’
            </p>
            <p>
                ‘Associatie, mein Herr, pure associatie. Ooit van psychoanalyse gehoord?’
            </p>
            <p>
                ‘Eh, … ja maar… u bent toch  niet …’
            </p>
            <p>
                De man trok zijn grijs mantelpak uit. ‘Jawohl, mein Herr, dokter Sigmund Freud uit Wenen. Neuroloog.’
            </p>
            <p>
                ‘De beruchte …?’
            </p>
            <p>
                ‘Hoezo berucht?
            </p>
            <p>
                ‘Onder collega’s doctoren gaat het gerucht de ronde dat u de psychoanalyse zou ontdekt hebben na het snuiven van cocaïne. En dat u in die geestverruimende toestand, geesteszieke vrouwen op de sofa zou gelegd hebben om via suggestie en Traumdeutung, hun ziel …, tja of misschien wel een heleboel andere dingen, bloot te leggen. Mijn collega neuroloog, professor Kraepelin, vindt dit allemaal oneerbare flauwekul. Hersenspinsels van een gedrogeerde, noemt hij het.’
            </p>
            <p>
                ‘Interessant! En u … bent u ook neuroloog?’
            </p>
            <p>
                ‘Nee, ik ben Paul Julius Friedhoff uit München, anatomopatholoog.’
            </p>
            <p>
                ‘Aangename kennismaking, Herr Friedhoff. Tja, die cocaïne was inderdaad een jeugdzonde van me. Gevaarlijk spul overigens. Een collega van mij heeft er zich aan dood gesnoven. Sigaartje?’
            </p>
            <p>
                ‘Oh zo’n rokertje sla ik nooit af. Perfect mijn formaat.’
            </p>
            <p>
                Twee minuten later dreven rookslierten mist door de treincoupé. Met de roodgloeiende askegel van zijn sigaar wees Freud de kristallen weckpot aan. ‘Interessant, zo’n doorkijkbaarmoeder met homunculus erin, Herr Friedhoff. Uitermate boeiend. Hebt u ook het gevoel dat er zich in zo’n piepklein wezentje - dood of niet - nog van allerlei dingen kunnen afspelen? Postume processen waarvan wij neurologen en andere onderzoekers, niet de geringste idee hebben? Ik bedoel: denkt deze homunculus nog na?  Ziet hij ons? Hoort hij ons?’
            </p>
            <p>
                ‘Komaan, Herr Freud, alle vitale organen zijn eruit verwijderd, behalve de hersenen. Wat zou mijn zoon überhaupt nog in staat zijn te leven, te horen of te zien? Dood is toch dood?’
            </p>
            <p>
                ‘Ho maar, ho maar, beste collega Friedhoff. Over de dood is al sinds de oude Grieken de grootste onzin verteld. Ik neem aan dat u hun puberale mythologische verhaaltjes nooit voor werkelijkheid hebt gehouden, maar dat u als mens van de wetenschap vandaag uw geest opent om via moderne spinassociaties tot een breder concept te komen over de werkelijke aard van het leven en van de dood? En daaromtrent de gepaste vragen stelt.’
            </p>
            <p>
                ‘Zoals?’
            </p>
            <p>
                ‘Kan iemand die nooit geleefd heeft, zoals uw zoon, wel écht dood zijn?’
            </p>
            <p>
                ‘Eh … tja …?’
            </p>
            <p>
                Met toenemende verbazing keek Friedhoff naar de rookwolken blazende professor uit Wenen, die op dit moment zijn bolle brillenglazen tegen Fritz’ weckpot bracht. ‘Hoho, bezie die scheve mondhoeken, die grijns maar … hola? Heb ik niet onlangs een artikel van u gelezen collega? Iets over kapotte hersenzenuwen? Iets van … aan dit star masker en die grijnslach moet elke arts een gelijkaardig geval herkennen.?’
            </p>
            <p>
                ‘Jawohl Herr Freud. Dat is hem, mijn zoon: ’het syndroom van Friedhoff.
            </p>
            <p>
                ‘Über alle Massen hin, geweldig interessant.’
            </p>
            <p>
                En zo ontspon zich op het basso continuo van denderende treinwielen een boeiende conversatie over dood en leven tot de Oriënt Expres tot stilstand kwam in Wenen. Op het perron namen Freud en Friedhoff afscheid van elkaar. ‘Als u ooit de tijd mocht vinden, beste collega Friedhoff moet u beslist eens langskomen met uw zoon. Hier mijn adreskaartje.’
            </p>
            <a href="@Url.Action("Hoofdstuk3", "Fritz")"><h3>Verder naar Hoofdstuk 3</h3></a>
        </div>
        <div class="col-md-5">
            <a href="~/Images/Fritz/Oriëntexpress.jpg" data-lightbox="hoofdstuk2">
                <img src="~/Images/Fritz/Oriëntexpress.jpg" class="img-responsive center-block" />
            </a>
            <br />
            <br />
            <br />
            <a href="~/Images/Fritz/Oriëntexpress2.jpg" data-lightbox="hoofdstuk2">
                <img src="~/Images/Fritz/Oriëntexpress2.jpg" class="img-responsive center-block" />
            </a>
            <p>(tekeningen: Jitse Lemmens)</p>
        </div>
    </div>
</div>