@{
    ViewBag.Title = "Fritz de foetus";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                FRITZ de FOET
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">FRITZ de FOET</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-header">Eerste hoofdstukken</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <h3>Proloog</h3>
            <p>
                Tussen de vele bezienswaardigheden in het rariteitenkabinet van dokter Van Robays, staat een collectie foetussen op sterk water. Stuk voor stuk zijn het pronkstukken met een schitterende afwijking die niet met het normale humane leven verenigbaar was. Artefacten, aberrant in elkaar geflanste vormen, dramatische bloopers van de natuur maar een godsgeschenk voor een wetenschapper.
            </p>
            <a href="@Url.Action("Proloog", "Fritz")">LEES MEER</a>
            <h3>Een onfortuinlijke geboorte</h3>
            <p>
                De geboorte van een baby is meestal een heuglijke gebeurtenis in een mensenleven, maar op 8 juni 1866 beviel Adelphine Friedhoff van een doodgeboren vrucht. Het was al haar derde miskraam op rij en ze was de wanhoop nabij. ‘Wat moeten we doen, Paul Julius?’
            </p>
            <p>
                Lang nadenken hoefde haar echtgenoot niet: ‘Een autopsie.’
            </p>
            <a href="@Url.Action("Hoofdstuk1", "Fritz")">LEES MEER</a>
            <h3>De Oriënt Express</h3>
            <p>
                Tussen de ontelbare brieven vol medeleven om de dood van zijn zoon en vol lof om de ontdekking van zijn syndroom ontving P.J. Friedhoff een uitnodiging van de hooggeleerde Weense professor Emile Zuckerkandl. Of het Zijn Edelachtbare Collega zou schikken diens onlangs ontdekte en zo mooi beschreven casus voor te stellen tijdens het jaarlijkse pathologencongres in Wenen. Zeer vereerd met die uitnodiging keek Paul Julius Friedhoff op geen Duitse Mark. Hij schafte zich een drieledig pak aan en reserveerde op de Oriënt Express een treinbiljet eerste klasse. Voor zijn zoon kocht hij een weckpot van het zuiverste bergkristal en tapte er vers gedestilleerde alcohol 94° in.
            </p>
            <a href="@Url.Action("Hoofdstuk2", "Fritz")">LEES MEER</a>
            <h3>Congres Wenen 1866</h3>
            <p>
                Onder het spandoek Internationaal Medisch Congres 1866 stapte dokter Friedhoff de trappen van het imposante congressenpaleis op. In zijn dokterstas stak, gescheiden van speech, zijn zoon Fritz. Het auditorium zat afgeladen vol mannen met bolle baarden en kleine knijpbrilletjes die het licht reflecteerden. Als gastheer verwelkomde Professor Zuckerkandl de vele binnen- en buitenlandse gasten en sprak de hoop uit dat het een vruchtbare samenkomst zou wezen.
            </p>
            <a href="@Url.Action("Hoofdstuk3", "Fritz")">LEES MEER</a>
        </div>
        <div class="col-md-5">
            <a href="~/Images/Fritz/Cover.jpg" data-lightbox="index">
                <img src="~/Images/Fritz/Cover.jpg" class="img-responsive center-block" />
            </a>
            <br />
            <a href="~/Images/Fritz/Gele anatoom.jpg" data-lightbox="index">
                <img src="~/Images/Fritz/Gele anatoom.jpg" class="img-responsive center-block" />
            </a>
            <p>(tekeningen: Jitse Lemmens)</p>
        </div>
    </div>
</div>