@{
    ViewBag.Title = "Proloog";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Proloog
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("Fritz de foetus", "Index", "Fritz")
                </li>
                <li class="active">Proloog</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <p>
                Tussen de vele bezienswaardigheden in het rariteitenkabinet van dokter Van Robays, staat een collectie foetussen op sterk water. Stuk voor stuk zijn het pronkstukken met een schitterende afwijking die niet met het normale humane leven verenigbaar was. Artefacten, aberrant in elkaar geflanste vormen, dramatische bloopers van de natuur maar een godsgeschenk voor een wetenschapper. Het is immers niet uit het normale dat een vorser zijn kennis haalt. Het is het abnormale dat hem nieuwsgierig maakt en aan het denken zet. Maar dat weten die foetussen niet. Ze hebben nooit geleefd, nooit in de spiegel gekeken, nooit zichzelf in vraag gesteld of een ander teken van intellectueel leven gegeven.
            </p>
            <p>
                Althans zo dacht patholoog Van Robays.
            </p>
            <p>
                Maar op een avond, toen hij net op het punt stond zijn laboratorium te verlaten, hoorde hij gerinkel. Op het gehoor af ging hij kijken naar waar dit glasgerinkel vandaan kwam, en schrok. Op het hoogste schap van zijn rariteitenkabinet stond een foetus druipnat naast zijn glazen bokaal. De op heterdaad betrapte inbreker (eigenlijk uitbreker) probeerde nog halsoverkop terug in zijn weckpot te springen maar het was te laat. Zonder pardon viste patholoog Van Robays de foetus bij zijn nekvel uit zijn bokaal en eiste een verklaring voor dit, voor doodgeboren foetussen, hoogst onnatuurlijk gedrag.
            </p>
            <p>
                De druipnatte foetus gaf geen kik en probeerde aanvankelijk te doen alsof hij morsdood was. Maar toen paste patholoog Van Robays de truc met de ventilator toe. Iedereen die zich een beetje kan verplaatsen in de formolwereld van foetussen, weet dat ze als de dood zijn voor uitdroging. Eenmaal aan de lucht blootgesteld, verschrompelen ze snel tot een kleine harde klomp, en een ventilator kan dit proces nog met een factor 10 bespoedigen. Bij het zien van die hallucinant grote ventilator begon de kleine foetus over zijn hele lijf te bibberen en te beven, zelfs al een beetje te verschrompelen, tot hij klappertandend enkele woorden prevelde: ‘Ik ben … eh, mijn naam is … Fritz … Fritz Friedhoff.’
            </p>
            <p>
                ‘Goed zo, Fritz,’ borg de patholoog zijn ventilator op. ‘We hebben al een naam. Nu nog de doodsoorzaak. Aan welke ziekte of aan wat soort syndroom ben je gestorven?’
            </p>
            <p>
                Het kan absurd klinken dat uitgerekend een patholoog, die in een ziekenhuis toch echt dé gedoodverfde specialist is om de doodsoorzaak in een lijk te vinden, naar de reden van het overlijden vraagt aan een piepkleine foetus. Maar Fritz was een van die foetussen die hij zelf nooit onderzocht had. In het rariteitenkabinet van patholoog Van Robays stonden immers ook foetussen uit andere collecties van professoren uit andere, verre en vreemde landen. Op het beschimmeld en bijna onleesbaar etiket dat op Fritz’ weckpot plakte kon Van Robays nog vaag München ontcijferen en het jaartal 1866.
            </p>
            <p>
                Vandaar zijn vraag: ‘Vertel me alles Fritz. Wie ben je? Waar kom je vandaan? En wat doe je hier?’ Kortom, de drie grote levensvragen.
            </p>
            <p>
                Als bij wonder bloeide de kleine Fritz, die volgens het etiket al meer dan een eeuw eenzaam in zijn claustrofobische bokaal zat te pitten, als het ware open. Zonder angst of schroom vertelde hij zijn levensverhaal. Een curriculum mortis dat zo vol dieptepunten en bizarre wendingen zat, dat patholoog Van Robays zei: ‘Ola manneke, wacht es even Fritz, ik haal pen en papier. Dit moet opgeschreven worden voor het nageslacht.’
            </p>
            <a href="@Url.Action("Hoofdstuk1", "Fritz")"><h3>Verder naar Hoofdstuk 1</h3></a>
        </div>
        <div class="col-md-5">
            <a href="~/Images/Fritz/Cast1.jpg" data-lightbox="proloog">
                <img src="~/Images/Fritz/Cast1.jpg" class="img-responsive center-block" />
            </a>
            <br />
            <br />
            <br />
            <a href="~/Images/Fritz/Cast2.jpg" data-lightbox="proloog">
                <img src="~/Images/Fritz/Cast2.jpg" class="img-responsive center-block" />
            </a>
            <p>(tekeningen: Jitse Lemmens)</p>
        </div>
    </div>
</div>