@{
    ViewBag.Title = "Airbrush";
}

<div id="myCarousel" class="carouselbig hidden-sm hidden-xs">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image: url('../Images/Fotografie/Airbrush/MK II blauw.jpg'); "></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Airbrush
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("Fotografie", "Index", "Fotografie")
                </li>
                <li class="active">Airbrush</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Airbrush" href="~/Images/Fotografie/Airbrush/D type 7_02.jpg">
                <img data-original="/Images/Fotografie/Airbrush/D type 7_02.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Airbrush" href="~/Images/Fotografie/Airbrush/XK120.jpg">
                <img data-original="/Images/Fotografie/Airbrush/XK120.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Airbrush" href="~/Images/Fotografie/Airbrush/E type bril.jpg">
                <img data-original="/Images/Fotografie/Airbrush/E type bril.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Airbrush" href="~/Images/Fotografie/Airbrush/Daimler.jpg">
                <img data-original="/Images/Fotografie/Airbrush/Daimler.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
            
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Airbrush" href="~/Images/Fotografie/Airbrush/XJS kontje.jpg">
                <img data-original="/Images/Fotografie/Airbrush/XJS kontje.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Airbrush" href="~/Images/Fotografie/Airbrush/MK II rood.jpg">
                <img data-original="/Images/Fotografie/Airbrush/MK II rood.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
            <a data-lightbox="Airbrush" href="~/Images/Fotografie/Airbrush/MK II blauw.jpg">
                <img data-original="/Images/Fotografie/Airbrush/MK II blauw.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Airbrush" href="~/Images/Fotografie/Airbrush/Waterval.jpg">
                <img data-original="/Images/Fotografie/Airbrush/Waterval.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Airbrush" href="~/Images/Fotografie/Airbrush/XK140 blue.jpg">
                <img data-original="/Images/Fotografie/Airbrush/XK140 blue.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
            <a data-lightbox="Airbrush" href="~/Images/Fotografie/Airbrush/XK150 hek.jpg">
                <img data-original="/Images/Fotografie/Airbrush/XK150 hek.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
    </div>
</div>