@{
    ViewBag.Title = "Foetale Fotografie";
}

<div id="myCarousel" class="carouselbig hidden-sm hidden-xs">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image: url('../Images/Fotografie/Foetaal/foetus en nijlpaard.jpg'); "></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Foetale Fotografie
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("Fotografie", "Index", "Fotografie")
                </li>
                <li class="active">Foetale Fotografie</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Foetale" href="~/Images/Fotografie/Foetaal/black hand dead.jpg">
                <img data-original="/Images/Fotografie/Foetaal/black hand dead.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
            <a data-lightbox="Foetale" href="~/Images/Fotografie/Foetaal/foetus lumbale kromming.jpg">
                <img data-original="/Images/Fotografie/Foetaal/foetus lumbale kromming.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Foetale" href="~/Images/Fotografie/Foetaal/blauwe dood.jpg">
                <img data-original="/Images/Fotografie/Foetaal/blauwe dood.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Foetale" href="~/Images/Fotografie/Foetaal/dwarszittend.jpg">
                <img data-original="/Images/Fotografie/Foetaal/dwarszittend.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
            
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Foetale" href="~/Images/Fotografie/Foetaal/foetskelet01.jpg">
                <img data-original="/Images/Fotografie/Foetaal/foetskelet01.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
            
        </div>
    </div>
    <div class="row">
        
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Foetale" href="~/Images/Fotografie/Foetaal/foetskelet04.jpg">
                <img data-original="/Images/Fotografie/Foetaal/foetskelet04.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Foetale" href="~/Images/Fotografie/Foetaal/foetskelet02.jpg">
                <img data-original="/Images/Fotografie/Foetaal/foetskelet02.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Foetale" href="~/Images/Fotografie/Foetaal/foetskelet03.jpg">
                <img data-original="/Images/Fotografie/Foetaal/foetskelet03.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Foetale" href="~/Images/Fotografie/Foetaal/tweeling roze.jpg">
                <img data-original="/Images/Fotografie/Foetaal/tweeling roze.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Foetale" href="~/Images/Fotografie/Foetaal/neonfoet.jpg">
                <img data-original="/Images/Fotografie/Foetaal/neonfoet.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Foetale" href="~/Images/Fotografie/Foetaal/Gele mummiedood.jpg">
                <img data-original="/Images/Fotografie/Foetaal/Gele mummiedood.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Foetale" href="~/Images/Fotografie/Foetaal/MORSineVITAbilis.jpg">
                <img data-original="/Images/Fotografie/Foetaal/MORSineVITAbilis.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Foetale" href="~/Images/Fotografie/Foetaal/navelstrengzitter.jpg">
                <img data-original="/Images/Fotografie/Foetaal/navelstrengzitter.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Foetale" href="~/Images/Fotografie/Foetaal/Strangulated to dead.jpg">
                <img data-original="/Images/Fotografie/Foetaal/Strangulated to dead.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
           
            <a data-lightbox="Foetale" href="~/Images/Fotografie/Foetaal/zwarte proloog.jpg">
                <img data-original="/Images/Fotografie/Foetaal/zwarte proloog.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Foetale" href="~/Images/Fotografie/Foetaal/tekening6.jpg">
                <img data-original="/Images/Fotografie/Foetaal/tekening6.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Foetale" href="~/Images/Fotografie/Foetaal/tekening8.jpg">
                <img data-original="/Images/Fotografie/Foetaal/tekening8.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
            <a data-lightbox="Foetale" href="~/Images/Fotografie/Foetaal/verschaald.jpg">
                <img data-original="/Images/Fotografie/Foetaal/verschaald.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Foetale" href="~/Images/Fotografie/Foetaal/Turner.jpg">
                <img data-original="/Images/Fotografie/Foetaal/Turner.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
            <a data-lightbox="Foetale" href="~/Images/Fotografie/Foetaal/foet cutout lens flair.jpg">
                <img data-original="/Images/Fotografie/Foetaal/foet cutout lens flair.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
    </div>
</div>