@{
    ViewBag.Title = "Fotografie, penseel en airbrush";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Fotografie, penseel en airbrush
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Fotografie, penseel en airbrush</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <a href="@Url.Action("ZwartWit", "Fotografie")">
                <img data-original="/Images/Fotografie/moeke ruitjeshemd.jpg" class="img-responsive lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-md-7">
            <h3>Zwart/wit fotografie </h3>
            <a href="@Url.Action("ZwartWit", "Fotografie")" class="btn btn-primary">Bekijk album <i class="fa fa-angle-right"></i></a>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-5">
            <a href="@Url.Action("Olieverf", "Fotografie")">
                <img data-original="/Images/Fotografie/portret-opa.jpg" class="img-responsive lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-md-7">
            <h3>Penseel & olieverf</h3>
            <a href="@Url.Action("Olieverf", "Fotografie")" class="btn btn-primary">Bekijk album <i class="fa fa-angle-right"></i></a>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-5">
            <a href="@Url.Action("Airbrush", "Fotografie")">
                <img data-original="/Images/Fotografie/E type bril02.jpg" class="img-responsive lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-md-7">
            <h3>Airbrush</h3>
            <a href="@Url.Action("Airbrush", "Fotografie")" class="btn btn-primary">Bekijk album <i class="fa fa-angle-right"></i></a>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-5">
            <a href="@Url.Action("Foetaal", "Fotografie")">
                <img data-original="/Images/Fotografie/foetus en nijlpaard.jpg" class="img-responsive lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-md-7">
            <h3>Foetale fotografie</h3>
            <a href="@Url.Action("Foetaal", "Fotografie")" class="btn btn-primary">Bekijk album <i class="fa fa-angle-right"></i></a>
        </div>
    </div>
</div>