@{
    ViewBag.Title = "Penseel & olieverf";
}

<div id="myCarousel" class="carouselbig hidden-sm hidden-xs">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image: url('../Images/Fotografie/Olieverf/opa ontvangt schilderij en gelijkt erop.jpg'); "></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Penseel & olieverf
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("Fotografie", "Index", "Fotografie")
                </li>
                <li class="active">Penseel & olieverf</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Penseel" href="~/Images/Fotografie/Olieverf/topmodel.jpg">
                <img data-original="/Images/Fotografie/Olieverf/topmodel.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Penseel" href="~/Images/Fotografie/Olieverf/opa ontvangt schilderij en gelijkt erop.jpg">
                <img data-original="/Images/Fotografie/Olieverf/opa ontvangt schilderij en gelijkt erop.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
            <a data-lightbox="Penseel" href="~/Images/Fotografie/Olieverf/Raf portret.jpg">
                <img data-original="/Images/Fotografie/Olieverf/Raf portret.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Penseel" href="~/Images/Fotografie/Olieverf/rugzicht 1.jpg">
                <img data-original="/Images/Fotografie/Olieverf/rugzicht 1.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Penseel" href="~/Images/Fotografie/Olieverf/dévoilé.jpg">
                <img data-original="/Images/Fotografie/Olieverf/dévoilé.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-xs-6">
            
            <a data-lightbox="Penseel" href="~/Images/Fotografie/Olieverf/stilleven viool.jpg">
                <img data-original="/Images/Fotografie/Olieverf/stilleven viool.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Penseel" href="~/Images/Fotografie/Olieverf/zittend naakt.jpg">
                <img data-original="/Images/Fotografie/Olieverf/zittend naakt.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Penseel" href="~/Images/Fotografie/Olieverf/zwangere.jpg">
                <img data-original="/Images/Fotografie/Olieverf/zwangere.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Penseel" href="~/Images/Fotografie/Olieverf/witgeel 1971.jpg">
                <img data-original="/Images/Fotografie/Olieverf/witgeel 1971.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Penseel" href="~/Images/Fotografie/Olieverf/sigaartje.jpg">
                <img data-original="/Images/Fotografie/Olieverf/sigaartje.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Penseel" href="~/Images/Fotografie/Olieverf/rugzicht 2.jpg">
                <img data-original="/Images/Fotografie/Olieverf/rugzicht 2.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Penseel" href="~/Images/Fotografie/Olieverf/XO geel.jpg">
                <img data-original="/Images/Fotografie/Olieverf/XO geel.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Penseel" href="~/Images/Fotografie/Olieverf/blauwe periode.jpg">
                <img data-original="/Images/Fotografie/Olieverf/blauwe periode.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
    </div>
</div>