@{
    ViewBag.Title = "Zwart/wit fotografie";
}

<div id="myCarousel" class="carouselbig hidden-sm hidden-xs">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image: url('../Images/Fotografie/ZwartWit/moeke ruitjeshemd.jpg'); "></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Zwart/wit fotografie
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("Fotografie", "Index", "Fotografie")
                </li>
                <li class="active">Zwart/wit fotografie</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Zwart/wit" href="~/Images/Fotografie/ZwartWit/An Vermeer.jpg">
                <img data-original="/Images/Fotografie/ZwartWit/An Vermeer.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
       
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Zwart/wit" href="~/Images/Fotografie/ZwartWit/Ine poesje.jpg">
                <img data-original="/Images/Fotografie/ZwartWit/Ine poesje.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Zwart/wit" href="~/Images/Fotografie/ZwartWit/maaike viool1.jpg">
                <img data-original="/Images/Fotografie/ZwartWit/maaike viool1.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Zwart/wit" href="~/Images/Fotografie/ZwartWit/Maaike op kussen.jpg">
                <img data-original="/Images/Fotografie/ZwartWit/Maaike op kussen.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Zwart/wit" href="~/Images/Fotografie/ZwartWit/Ine driewieler.jpg">
                <img data-original="/Images/Fotografie/ZwartWit/Ine driewieler.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            
            <a data-lightbox="Zwart/wit" href="~/Images/Fotografie/ZwartWit/Huis vroeger.jpg">
                <img data-original="/Images/Fotografie/ZwartWit/Huis vroeger.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Zwart/wit" href="~/Images/Fotografie/ZwartWit/huis familiefoto.jpg">
                <img data-original="/Images/Fotografie/ZwartWit/huis familiefoto.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Zwart/wit" href="~/Images/Fotografie/ZwartWit/Hans Mattias klavecimbel.jpg">
                <img data-original="/Images/Fotografie/ZwartWit/Hans Mattias klavecimbel.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Zwart/wit" href="~/Images/Fotografie/ZwartWit/maaike hans aan tafel.jpg">
                <img data-original="/Images/Fotografie/ZwartWit/maaike hans aan tafel.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Zwart/wit" href="~/Images/Fotografie/ZwartWit/Hans viool.jpg">
                <img data-original="/Images/Fotografie/ZwartWit/Hans viool.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Zwart/wit" href="~/Images/Fotografie/ZwartWit/Maaike in zak.jpg">
                <img data-original="/Images/Fotografie/ZwartWit/Maaike in zak.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Zwart/wit" href="~/Images/Fotografie/ZwartWit/maaike klavecimbel.jpg">
                <img data-original="/Images/Fotografie/ZwartWit/maaike klavecimbel.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
       
    </div>
    <div class="row">
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Zwart/wit" href="~/Images/Fotografie/ZwartWit/boom1.jpg">
                <img data-original="/Images/Fotografie/ZwartWit/boom1.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Zwart/wit" href="~/Images/Fotografie/ZwartWit/An bloementuil.jpg">
                <img data-original="/Images/Fotografie/ZwartWit/An bloementuil.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Zwart/wit" href="~/Images/Fotografie/ZwartWit/Maaike met dwergen.jpg">
                <img data-original="/Images/Fotografie/ZwartWit/Maaike met dwergen.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Zwart/wit" href="~/Images/Fotografie/ZwartWit/Maaike bad.jpg">
                <img data-original="/Images/Fotografie/ZwartWit/Maaike bad.jpg" class="img-responsive img-customer lazy" width="800" height="1200">
            </a>
        </div>
    </div>
</div>