@{
    ViewBag.Title = "Wijndegustatie";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Wijndegustatie
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Wijndegustatie</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
                <img data-original="/Images/PDF/WIJNDEGUSTATIE/0001.jpg" alt="Wijndegustatie artikel" class="img-responsive lazy" width="2000" height="2600" />
        </div>
        <div class="col-md-12">
                <img data-original="/Images/PDF/Wijndegustatie/0002.jpg" alt="Wijndegustatie artikel" class="img-responsive lazy" width="2000" height="2600" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
                <img data-original="/Images/PDF/Wijndegustatie/0003.jpg" alt="Wijndegustatie artikel" class="img-responsive lazy" width="2000" height="2600" />
        </div>
        <div class="col-md-12">
                <img data-original="/Images/PDF/Wijndegustatie/0004.jpg" alt="Wijndegustatie artikel" class="img-responsive lazy" width="2000" height="2600" />
        </div>
    </div>
    <div class="col-md-12">
            <img data-original="/Images/PDF/Wijndegustatie/0005.jpg" alt="Wijndegustatie artikel" class="img-responsive lazy" width="2000" height="2600" />
    </div>
    <div class="col-md-12">
            <img data-original="/Images/PDF/Wijndegustatie/0006.jpg" alt="Wijndegustatie artikel" class="img-responsive lazy" width="2000" height="2600" />
    </div>
    <div class="row">
        <div class="col-md-12">
                <img data-original="/Images/PDF/Wijndegustatie/0007.jpg" alt="Wijndegustatie artikel" class="img-responsive lazy" width="2000" height="2600" />
        </div>
        <div class="col-md-12">
                <img data-original="/Images/PDF/Wijndegustatie/0008.jpg" alt="Wijndegustatie artikel" class="img-responsive lazy" width="2000" height="2600" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
                <img data-original="/Images/PDF/Wijndegustatie/0009.jpg" alt="Wijndegustatie artikel" class="img-responsive lazy" width="2000" height="2600" />
        </div>
        <div class="col-md-12">
                <img data-original="/Images/PDF/Wijndegustatie/0010.jpg" alt="Wijndegustatie artikel" class="img-responsive lazy" width="2000" height="2600" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
                <img data-original="/Images/PDF/Wijndegustatie/0011.jpg" alt="Wijndegustatie artikel" class="img-responsive lazy" width="2000" height="2600" />
        </div>
        <div class="col-md-12">
                <img data-original="/Images/PDF/Wijndegustatie/0012.jpg" alt="Wijndegustatie artikel" class="img-responsive lazy" width="2000" height="2600" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
                <img data-original="/Images/PDF/Wijndegustatie/0013.jpg" alt="Wijndegustatie artikel" class="img-responsive lazy" width="2000" height="2600" />
        </div>
        <div class="col-md-12">
                <img data-original="/Images/PDF/Wijndegustatie/0014.jpg" alt="Wijndegustatie artikel" class="img-responsive lazy" width="2000" height="2600" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
                <img data-original="/Images/PDF/Wijndegustatie/0015.jpg" alt="Wijndegustatie artikel" class="img-responsive lazy" width="2000" height="2600" />
        </div>
        <div class="col-md-12">
                <img data-original="/Images/PDF/Wijndegustatie/0016.jpg" alt="Wijndegustatie artikel" class="img-responsive lazy" width="2000" height="2600" />
        </div>
    </div>
</div>