@{
    ViewBag.Title = "Stamboom";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Stamboom
                <small>De familie Van Robays</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Stamboom</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a target="_blank" href="https://www.myheritage.nl/site-family-tree-318729061/van-robays-familie">
                <img src="~/Images/Stamboom/Home_NBanner.gif" class="img-responsive" />
            </a>
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>
                Met bovenstaande foto ga je naar de oude homepage die ik in 1998 gemaakt heb van mijn stamvaderen.
                De data en foto’s lopen tot net voor de heer  Raf Van Robays, mijn vader.
            </p>
            <p>
                In de oude lay-out overlappen foto’s en teksten elkaar soms maar daar wordt aan gewerkt voor een volgende versie.
            </p>
        </div>
    </div>
</div>