@{
    ViewBag.Title = "Vesalius";
}
<div id="myCarousel" class="carouselbig hidden-sm hidden-xs">
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image: url('../Images/Vesalius/Hasselt Corswaeren 2015.jpg'); "></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Vesalius’ prospectie in Vlaanderen naar aanleiding van zijn 500ste verjaardag
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Vesalius</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h3>Causerie</h3>
            <p>
                Ik kruip in de huid (en het kostuum) van Vesalius en vraag me in het eerste gedeelte af of mijn (dwz Vesalius’) naam hier nog bekend is en mijn groot anatomieboek nog gelezen en bekeken wordt. En of er hier standbeelden van mij zijn opgericht en/of straten naar mij zijn genoemd. En of er boeken werden geschreven over mij, websites ... Dit alles rijkelijk geïllustreerd met Powerpoint prentjes.
            </p>
            <p>
                In een tweede deel geef ik wat uitleg over mijn magnum opus, de Fabrica. Aan bod komen het lijk,  de tekenaar, de drukker, de versierde hoofdletters, en uiteraard de welbekende tekeningen. Daar zitten nogal wat verhalen en raadsels achter en daar geef ik tekst en uitleg over. Tenslotte spoel ik als drenkeling aan op het Griekse eiland Zakynthos en heb daar enkele toeristische tips voor de toehoorders.
            </p>
            <p>
                De causerie, die ongeveer een uur duurt, is even informatief als ludiek. Nadien hebben de toehoorders een vrij goed beeld van Andreas Vesalius en zijn groot boek, de Fabrica.
            </p>
            <hr />
            <h4>
                Benodigdheden
            </h4>
            <p>
                Technisch gezien heb ik een groot scherm en beamer nodig. Als de zaal te groot is of er slechthorenden bij zitten, is een geluidsversterking nuttig. Liefst dan met headset of loopmicrofoon.
            </p>
            <h4>
                Boekingen
            </h4>
            <ul>
                <li>Johan Van Robays: 0472/32.90.02</li>
                <li><a href="mailto:johan.vanrobays@zol.be?SUBJECT=Rariteitenkabinet">johan.vanrobays@zol.be</a></li>
            </ul>
        </div>
        <div class="col-md-3 col-md-push-1">
            <img src="~/Images/Vesalius/Vesalius.jpg" class="img-responsive" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Enkele foto's van optredens</h3>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <a data-lightbox="Vesalius" href="/Images/Vesalius/09 Herfstsymposium 2014.JPG">
                <img data-original="/Images/Vesalius/09 Herfstsymposium 2014.JPG" class="img-responsive img-customer articles lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <a data-lightbox="Vesalius" href="/Images/Vesalius/Hasselt 2015a.jpg">
                <img data-original="/Images/Vesalius/Cut/Hasselt 2015a.jpg" class="img-responsive img-customer articles lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <a data-lightbox="Vesalius" href="/Images/Vesalius/JvR Vesalius Zol.jpg">
                <img data-original="/Images/Vesalius/Cut/JvR Vesalius Zol.jpg" class="img-responsive img-customer articles lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <a data-lightbox="Vesalius" href="/Images/Vesalius/ZOL_Vesalius_VRT.jpg">
                <img data-original="/Images/Vesalius/ZOL_Vesalius_VRT.jpg" class="img-responsive img-customer articles lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <a data-lightbox="Vesalius" href="/Images/Vesalius/in de SPIL te Roeselare.jpg">
                <img data-original="/Images/Vesalius/in de SPIL te Roeselare.jpg" class="img-responsive img-customer articles lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <a data-lightbox="Vesalius" href="/Images/Vesalius/In Museum M te Leuven.jpg">
                <img data-original="/Images/Vesalius/In Museum M te Leuven.jpg" class="img-responsive img-customer articles lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <a data-lightbox="Vesalius" href="/Images/Vesalius/Schalkse Vesalius compilatie.jpg">
                <img data-original="/Images/Vesalius/Cut/Schalkse Vesalius compilatie.jpg" class="img-responsive img-customer articles lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <a data-lightbox="Vesalius" href="/Images/Vesalius/vesalius in Brakel.jpg">
                <img data-original="/Images/Vesalius/Cut/vesalius in Brakel.jpg" class="img-responsive img-customer articles lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <a data-lightbox="Vesalius" href="/Images/Vesalius/Vesalius in KRC Genk.JPG">
                <img data-original="/Images/Vesalius/Cut/Vesalius in KRC Genk.JPG" class="img-responsive img-customer articles lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <a data-lightbox="Vesalius" href="/Images/Vesalius/Vesalius in Tienen.JPG">
                <img data-original="/Images/Vesalius/Vesalius in Tienen.JPG" class="img-responsive img-customer articles lazy" width="800" height="1200" />
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <a data-lightbox="Vesalius" href="/Images/Vesalius/ZOL_9173.JPG">
                <img data-original="/Images/Vesalius/ZOL_9173.JPG" class="img-responsive img-customer articles lazy" width="800" height="1200" />
            </a>
        </div>
    </div>
</div>