
@{
    ViewBag.Title = "Humo artikel";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Humo artikel
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("Patholoog", "Index", "Patholoog")
                </li>
                <li class="active">Humo artikel</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img data-original="/Images/Patholoog/humo.png" width="2000" height="2600" alt="Humo artikel" class="img-responsive lazy" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img data-original="/Images/Patholoog/humopagina1.png" width="2000" height="2600" alt="Humo artikel" class="img-responsive lazy" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img data-original="/Images/Patholoog/humopagina2.png" width="2000" height="2600" alt="Humo artikel" class="img-responsive lazy" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img data-original="/Images/Patholoog/humopagina3.png" width="2000" height="2600" alt="Humo artikel" class="img-responsive lazy" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img data-original="/Images/Patholoog/humopagina4.png" width="2000" height="2600" alt="Humo artikel" class="img-responsive lazy" />
        </div>
    </div>
</div>
