@{
    ViewBag.Title = "Patholoog";
}

<div id="myCarousel" class="carouselbig hidden-sm hidden-xs">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image: url('../Images/Patholoog/autopsieSmall.jpg'); "></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Patholoog
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Patholoog</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a href="@Url.Action("HumoArtikel", "Patholoog")">
                <ul class="hovertext-large effect">
                    <li>
                        <h2 class="zero">Humo artikel</h2>
                        <p class="zero">Lees hier het humo artikel over Johan Van Robays</p>
                    </li>
                    <li>
                        <img data-original="/Images/Patholoog/humo.png" width="800" height="1200" alt="Humo artikel" class="img-responsive lazy slideimage-large" />
                    </li>
                </ul>
            </a>
        </div>
        <div class="col-md-6">
            <a href="@Url.Action("Virtopsie", "Patholoog")">
                <ul class="hovertext-large effect">
                    <li>
                        <h2 class="zero">Virtopsie</h2>
                        <p class="zero">Lees hier het artikel over virtopsie</p>
                    </li>
                    <li>
                        <img data-original="/Images/Patholoog/Virtopsie01.jpg" width="800" height="1200" alt="Virtopsie" class="img-responsive lazy slideimage-large" />
                    </li>
                </ul>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a data-lightbox="Patholoog" href="~/Images/Patholoog/pathologen6.jpg">
                <img data-original="/Images/Patholoog/pathologen6.jpg" width="800" height="1200" alt="6 Pathologen" class="img-responsive lazy" />
            </a>
        </div>
        <div class="col-md-6">
            <a data-lightbox="Patholoog" href="~/Images/Patholoog/personeel-labofeest.jpg">
                <img data-original="/Images/Patholoog/personeel-labofeest.jpg" width="800" height="1200" alt="Personeel ZOL" class="img-responsive lazy" />
            </a>
        </div>
    </div>
    <div class="row">
        <h3>ZOLexit</h3>
        <div class="col-md-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/YifPJPiMLl4" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-6">
            <a href="@Url.Action("ZolExit", "Patholoog")">
                <ul class="hovertext-small effect">
                    <li>
                        <h2 class="zero">ZolExit</h2>
                        <p class="zero">Lees hier het artikel Johan zijn ZolExit</p>
                    </li>
                    <li>
                        <img data-original="/Images/Patholoog/ZolExit.jpg" alt="ZolExit" class="img-responsive lazy slideimage-small" />
                    </li>
                </ul>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Autopsies door de eeuwen heen</h3>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Autopsies" href="~/Images/Patholoog/Autopsies/anatoom Andreas Vesalius.jpg">
                <img src="~/Images/Patholoog/Autopsies/anatoom Andreas Vesalius.jpg" class="img-responsive img-customer articles" />
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Autopsies" href="~/Images/Patholoog/Autopsies/anatoom Deijman door Rembrandt.jpg">
                <img src="~/Images/Patholoog/Autopsies/anatoom Deijman door Rembrandt.jpg" class="img-responsive img-customer articles" />
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Autopsies" href="~/Images/Patholoog/Autopsies/anatoom Floriano Caldani door Cajetano Bosa.jpg">
                <img src="~/Images/Patholoog/Autopsies/anatoom Floriano Caldani door Cajetano Bosa.jpg" class="img-responsive img-customer articles" />
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Autopsies" href="~/Images/Patholoog/Autopsies/anatoom Francesco Bertinatti.jpg">
                <img src="~/Images/Patholoog/Autopsies/anatoom Francesco Bertinatti.jpg" class="img-responsive img-customer articles" />
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Autopsies" href="~/Images/Patholoog/Autopsies/anatoom Frederic Ruysch door Adriaen Backer.jpg">
                <img src="~/Images/Patholoog/Autopsies/anatoom Frederic Ruysch door Adriaen Backer.jpg" class="img-responsive img-customer articles" />
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Autopsies" href="~/Images/Patholoog/Autopsies/anatoom Giulio Casserio.jpg">
                <img src="~/Images/Patholoog/Autopsies/anatoom Giulio Casserio.jpg" class="img-responsive img-customer articles" />
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Autopsies" href="~/Images/Patholoog/Autopsies/De anatoom door Gabriel von Max.jpg">
                <img src="~/Images/Patholoog/Autopsies/De anatoom door Gabriel von Max.jpg" class="img-responsive img-customer articles" />
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Autopsies" href="~/Images/Patholoog/Autopsies/Dr Willem van der Meer door Pieter van Miereveld.jpg">
                <img src="~/Images/Patholoog/Autopsies/Dr Willem van der Meer door Pieter van Miereveld.jpg" class="img-responsive img-customer articles" />
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Autopsies" href="~/Images/Patholoog/Autopsies/dr Zacheus de Jager door Christiaen Coevershoff.jpg">
                <img src="~/Images/Patholoog/Autopsies/dr Zacheus de Jager door Christiaen Coevershoff.jpg" class="img-responsive img-customer articles" />
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Autopsies" href="~/Images/Patholoog/Autopsies/Frederick Ruysch door Jan Van Neck.jpg">
                <img src="~/Images/Patholoog/Autopsies/Frederick Ruysch door Jan Van Neck.jpg" class="img-responsive img-customer articles" />
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Autopsies" href="~/Images/Patholoog/Autopsies/Rembrandt_NicolaesTulp.jpg">
                <img src="~/Images/Patholoog/Autopsies/Rembrandt_NicolaesTulp.jpg" class="img-responsive img-customer articles" />
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a data-lightbox="Autopsies" href="~/Images/Patholoog/Autopsies/Spotprent door William Hogarth.jpg">
                <img src="~/Images/Patholoog/Autopsies/Spotprent door William Hogarth.jpg" class="img-responsive img-customer articles" />
            </a>
        </div>
    </div>
</div>