
@{
    ViewBag.Title = "ZolExit";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                ZolExit
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("Patholoog", "Index", "Patholoog")
                </li>
                <li class="active">ZolExit</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img data-original="/Images/Patholoog/ZolExit01.jpg" width="2000" height="2600" alt="Virtopsie" class="img-responsive lazy" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img data-original="/Images/Patholoog/ZolExit02.jpg" width="2000" height="2600" alt="Virtopsie" class="img-responsive lazy" />
        </div>
    </div>
</div>
